In [2]:
import pandas as pd
import re

In [8]:
df = pd.read_excel('LSE & LSE AIM companies (all).xlsx')

In [13]:
import mysql.connector
from sqlalchemy import create_engine
# Define your database connection parameters
host = "54.79.186.42"
user = "root"
password = "secondstorey"
database = "salary_app"

# Establish a connection to the database
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

# Check if the connection was successful
if connection.is_connected():
    print("Connected to MySQL database")

cursor = connection.cursor()
cursor.execute("SHOW DATABASES")

databases = cursor.fetchall()
for db in databases:
    print(db[0])

Connected to MySQL database
azkroflyz
gmat
information_schema
mysql
performance_schema
salary_app
secondstorey
sys

In [9]:
df.shape

(2316, 8)

In [16]:
# df.rename(columns={
#     'company_name': 'company',
#     'exchange_ticker': 'ticker',
#     'exchanges_primary_listing': 'listing',
#     'market_capitalization_my_setting_latest_6_month_s_audmm_historical_rate': 'market_cap',
#     'total_revenue_ltm_audmm_historical_rate': 'total_revenue',
#     'primary_sector': 'sector',
#     'primary_industry': 'industry',
#     'full_time_employees_latest_annual': 'full_time_employees'
# }, inplace=True)

In [17]:
df.columns = df.columns.str.replace(r'\W+', '_', regex=True).str.replace(r'_+', '_', regex=True).str.strip('_').str.lower()

In [ ]:
# engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")
# chunk_size = 500 
# for i in range(0, len(df), chunk_size):
#     df_chunk = df[i:i + chunk_size]
#     df_chunk.to_sql(name='Linkedin_data', con=engine, if_exists='append', index=False)

In [18]:
engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")
df.to_sql(name='benchmark_uk', con=engine, if_exists='replace', index=False)

2316