In [1]:
import pandas as pd
import re
import mysql.connector
from sqlalchemy import create_engine

In [2]:
host = "164.52.194.109"
user = "root"
password = "equipaypartners"
database = "equipay_partners"

# Establish a connection to the database
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
)

# Check if the connection was successful
if connection.is_connected():
    print("Connected to MySQL database")

cursor = connection.cursor()
cursor.execute("SHOW DATABASES")

databases = cursor.fetchall()
for db in databases:
    print(db[0])

Connected to MySQL database
adeft_education
equipay_partners
information_schema
leather_culture
mysql
performance_schema
risheet
sys

In [3]:
cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'equipay_partners'")

databases = cursor.fetchall()
lis = []
for db in databases:
    lis.append(db[0])

In [5]:
with open('column_info.txt', 'ab') as file:
    None
    
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
)
for i in lis:    
    cursor = connection.cursor()
    cursor.execute(f"SHOW CREATE TABLE equipay_partners.{i}")
    result = cursor.fetchone()

    with open('column_info.txt', 'ab') as file:
        file.write(b'#' * 50)
        file.write('\n\n'.encode())
        file.write(result[0].encode())
        file.write('\n\n'.encode())
        file.write('\n'.join(result[1].replace(f'CREATE TABLE `{result[0]}` (\n  ','').split('\n')[:-1]).encode())
        file.write('\n\n'.encode())