In [152]:
import pandas as pd

In [153]:
df = pd.read_csv('connection_req_proper_HR_names.csv')

In [154]:
df['textcol'] = df['textcol'].apply(lambda x: x.split('\n') if not pd.isna(x) else None)

In [155]:
df['len'] = df['textcol'].apply(lambda x: len(x) if isinstance(x, list) else 0)

In [156]:
df = df[df['textcol'].apply(lambda x: True if isinstance(x, list) and len(x) > 8 else False)]

In [186]:
a = df['len'].unique()
a.sort()
a

array([ 9, 10, 11, 12, 13, 14, 15, 16, 17], dtype=int64)

In [158]:
for inde,row in df.iterrows():
    if row['len'] == 17:
        # print(row['textcol'])
        newlis = row['textcol'].copy()
        inlis = ['Save', 'Message', 'posts on Linkedin', 'Recently hired', 'mutual connections', 'Shared groups','see more','About:','months in company','months in role',
                 'Viewed','You’ve already seen','2nd','to selection','years in company','recent post on Linkedin']
        newlis = [i for i in newlis if not any(word.lower() in i.lower() for word in inlis)]
        df.at[inde,'corlis'] = '\n'.join(newlis)

In [159]:
for inde,row in df.iterrows():
    if row['len'] == 16:
        # print(row['textcol'])
        newlis = row['textcol'].copy()
        inlis = ['Save', 'Message', 'posts on Linkedin', 'Recently hired', 'mutual connections', 'Shared groups','see more','About:','months in company','months in role',
                 'Viewed','You’ve already seen','2nd','to selection','years in company','recent post on Linkedin']
        newlis = [i for i in newlis if not any(word.lower() in i.lower() for word in inlis)]
        # print(newlis)
        df.at[inde,'corlis'] = '\n'.join(newlis)

In [160]:
for inde,row in df.iterrows():
    if row['len'] == 15:
        # print(row['textcol'])
        newlis = row['textcol'].copy()
        inlis = ['Save', 'Message', 'posts on Linkedin', 'Recently hired', 'mutual connections', 'Shared groups','see more','About:','months in company','months in role',
                 'Viewed','You’ve already seen','2nd','to selection','years in company','recent post on Linkedin','month in company','Recently promoted']
        newlis = [i for i in newlis if not any(word.lower() in i.lower() for word in inlis)]
        # if len(newlis) > 3:
        #     print(len(newlis),newlis)
        #     print('*')
        newlis = newlis[:3]
        df.at[inde,'corlis'] = '\n'.join(newlis)

In [161]:
inlis = ['Save', 'Message', 'posts on Linkedin', 'Recently hired', 'mutual connections', 'Shared groups','see more','About:','months in company','months in role',
                 'Viewed','You’ve already seen','2nd','to selection','years in company','recent post on Linkedin','month in company','Recently promoted','mutual connection','year in role',
                 '3rd']

In [162]:
for inde,row in df.iterrows():
    if row['len'] == 14:
        # print(row['textcol'])
        newlis = row['textcol'].copy()
        newlis = [i for i in newlis if not any(word.lower() in i.lower() for word in inlis)]
        # if len(newlis) > 3:
        #     print(len(newlis),newlis)
        #     print('*')
        newlis = newlis[:3]
        df.at[inde,'corlis'] = '\n'.join(newlis)

In [163]:
for inde,row in df[df['len']==13].iterrows():
    # print(row['textcol'])
    newlis = row['textcol'].copy()
    newlis = [i for i in newlis if not any(word.lower() in i.lower() for word in inlis)]
    # if len(newlis) > 3:
    #     print(len(newlis),newlis)
    #     print('*')
    newlis = newlis[:3]
    df.at[inde,'corlis'] = '\n'.join(newlis)

In [164]:
for inde,row in df[df['len']==12].iterrows():
    # print(row['textcol'])
    newlis = row['textcol'].copy()
    newlis = [i for i in newlis if not any(word.lower() in i.lower() for word in inlis)]
    # if len(newlis) > 3:
    #     print(len(newlis),newlis)
    #     print('*')
    newlis = newlis[:3]
    df.at[inde,'corlis'] = '\n'.join(newlis)

In [165]:
for inde,row in df[df['len']==11].iterrows():
    # print(row['textcol'])
    newlis = row['textcol'].copy()
    newlis = [i for i in newlis if not any(word.lower() in i.lower() for word in inlis)]
    # if len(newlis) > 3:
    #     print(len(newlis),newlis)
    #     print('*')
    newlis = newlis[:3]
    df.at[inde,'corlis'] = '\n'.join(newlis)

In [166]:
for inde,row in df[df['len']==10].iterrows():
    # print(row['textcol'])
    newlis = row['textcol'].copy()
    newlis = [i for i in newlis if not any(word.lower() in i.lower() for word in inlis)]
    # if len(newlis) > 3:
    #     print(len(newlis),newlis)
    #     print('*')
    newlis = newlis[:3]
    df.at[inde,'corlis'] = '\n'.join(newlis)

In [167]:
for inde,row in df[df['len']==9].iterrows():
    # print(row['textcol'])
    newlis = row['textcol'].copy()
    newlis = [i for i in newlis if not any(word.lower() in i.lower() for word in inlis)]
    # if len(newlis) > 3:
    #     print(len(newlis),newlis)
    #     print('*')
    newlis = newlis[:3]
    df.at[inde,'corlis'] = '\n'.join(newlis)

In [169]:
for inde,row in df[df['corlis'].apply(lambda x: True if len(x.split('\n')) > 2 else False)].iterrows():
    Name = row['corlis'].split('\n')[0]
    designation = row['corlis'].split('\n')[1]
    location = row['corlis'].split('\n')[2]
    df.at[inde,'Name'] = Name
    df.at[inde,'locaiton'] = location
    df.at[inde,'designation'] = designation

In [173]:
for inde,row in df[df['corlis'].apply(lambda x: True if len(x.split('\n')) < 3 else False)].iterrows():
    Name = row['corlis'].split('\n')[0]
    designation = row['corlis'].split('\n')[1]
    df.at[inde,'Name'] = Name
    df.at[inde,'unknown'] = designation

In [174]:
df[df['corlis'].apply(lambda x: True if len(x.split('\n'))< 3 else False)]

,textcol,len,corlis,Name,locaiton,designation,unknown
32,"[Add Sachin Rode to selection, Sachin Rode, 2n...",11,"Sachin Rode\nMumbai, Maharashtra, India",Sachin Rode,NaN,NaN,"Mumbai, Maharashtra, India"
43,"[Add Pooja Velhal to selection, Pooja Velhal, ...",12,"Pooja Velhal\nChennai, Tamil Nadu, India",Pooja Velhal,NaN,NaN,"Chennai, Tamil Nadu, India"
395,"[Add Sandeep Panhale to selection, Sandeep Pan...",12,"Sandeep Panhale\nPune, Maharashtra, India",Sandeep Panhale,NaN,NaN,"Pune, Maharashtra, India"
625,"[Add Aditi Singhania to selection, Aditi Singh...",12,"Aditi Singhania\n Bengaluru, Karnataka, India",Aditi Singhania,NaN,NaN,"Bengaluru, Karnataka, India"
910,"[Add Rajani Thathoor Saran to selection, Rajan...",10,"Rajani Thathoor Saran\n Bengaluru, Karnataka,...",Rajani Thathoor Saran,NaN,NaN,"Bengaluru, Karnataka, India"
1208,"[Add Khushboo Saraiya to selection, Khushboo S...",11,"Khushboo Saraiya\nPune, Maharashtra, India",Khushboo Saraiya,NaN,NaN,"Pune, Maharashtra, India"
1250,"[Add Shaunak Upadhyay to selection, Shaunak Up...",10,"Shaunak Upadhyay\n Ahmedabad, Gujarat, India",Shaunak Upadhyay,NaN,NaN,"Ahmedabad, Gujarat, India"
1286,"[Add Neelima Vaka to selection, Neelima Vaka, ...",13,Neelima Vaka\nAssociate Director Human Resourc...,Neelima Vaka,NaN,NaN,Associate Director Human Resources Clinovo
1581,"[Add Swapnali Nagvekar to selection, Swapnali ...",11,"Swapnali Nagvekar\nMumbai, Maharashtra, India",Swapnali Nagvekar,NaN,NaN,"Mumbai, Maharashtra, India"
1868,"[Add Dheeraj Makhani to selection, Dheeraj Mak...",11,Dheeraj Makhani\nHead - HR Business Partner Ba...,Dheeraj Makhani,NaN,NaN,Head - HR Business Partner Bajaj Markets
1952,"[Add Raja G. to selection, Raja G., 2nd degree...",11,Raja G.\n Manager - HR Jubilant Pharmova,Raja G.,NaN,NaN,Manager - HR Jubilant Pharmova

In [182]:
df[['Name','designation','locaiton','unknown']].to_excel('connection_req_proper_cleaned.xlsx',index=False)

In [176]:
df['textcol'].apply(lambda x: x[1] if isinstance(x, list) and len(x)>2 else 0)

0                       Mahesh Phadke
1                   Mohd Ilyas Akhter
2                        Abhay Kapoor
3                       Rupali Sharma
4       Mahua Ray Chaudhuri, SHRM-SCP
                    ...
2501                      Neha Mittal
2502                    Prachi Sharma
2503                  Nisha Venugopal
2504                Rajkiran Sherigar
2505                  Pradanya Dilpak
Name: textcol, Length: 2452, dtype: object