In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

%matplotlib inline

In [9]:
df4 = pd.read_excel('Linkedin_Extract_20230804.xlsx')
df = pd.read_excel('Linkedin_Extract_20240226.xlsx')

In [10]:
df = pd.concat([df, df4], ignore_index=True)
df.drop_duplicates(inplace = True)

In [11]:
df = df.dropna(subset=['name'])

In [12]:
df.drop_duplicates(subset='name', keep='first',inplace = True)

In [13]:
df.reset_index(drop = True,inplace =True)

In [14]:
df.shape

(7944, 679)

In [15]:
df['location'] = df['location'].apply(lambda x: str(x).split(',')[0].lower())

In [16]:
df['location'] = df['location'].str.replace('bengaluru', 'bangalore')

In [17]:
def replace_values(df, column_names):
    for col in column_names:
        df[col] = df[col].fillna('')
        df[col] = df[col].apply(lambda x: x.lower())
        df[col] = df[col].apply(lambda x: str(x).split(',')[0].lower())
        len1 = set(df[df[col].str.split().str.len() == 1][col].to_list())
        len2 = set(df[df[col].str.split().str.len() > 1][col].to_list())

        for i in len2:
            for j in len1:
                if pd.notna(i) and pd.notna(j) and j in i:
                    replacement_indices = df[df[col] == i].index
                    df.loc[replacement_indices, col] = j

In [18]:
columns_to_process = ['location']
replace_values(df, columns_to_process)

job_location_cols = [col for col in df.columns if 'job' in col and 'location' in col]
columns_to_process = job_location_cols
replace_values(df, columns_to_process)

In [19]:
df.shape

(7944, 679)

In [20]:
pattern = r'([a-zA-Z]{3} \d{4} - [a-zA-Z]{3} \d{4})'
mask = df[job_location_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

C:\Users\PM\AppData\Local\Temp\ipykernel_16460\2340561830.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = df[job_location_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

In [21]:
df = df[~mask]
df.shape

(7886, 679)

# all location columns are done.

In [22]:
    # 'name', 'location',
    # 'title', 'org', 'job_duration', 'job_location',
    # 'institute', 'digree', 'digree_duration',
    # 'skill',
    # 'company_emp_count', 'company_industry',

In [23]:
df['name'] = df['name'].str.lower()

In [24]:
title_cols = [col for col in df.columns if 'title' in col]

In [25]:
def process_title(title):
    if isinstance(title, str):
        parts = title.split(',')[0]  # Split by comma and get the first part
        return(parts.lower())          # Convert to lowercase
    else:
        return(title)
df[title_cols] = df[title_cols].applymap(process_title)

In [26]:
unique_title = set()
for col in title_cols:
    unique_title.update(set(df[col].unique()))

# title cols...done

In [27]:
for column in df.columns:
    if df[column].dtype == 'object':  # Check if the column contains string values
        df[column] = df[column].str.lower().replace(r'[^\w\s]', '', regex=True).replace(r'fulltime|selfemployed|· self-employed|· full-time', '', regex=True).str.strip()

In [28]:
df.replace(np.nan,'NaN',inplace=True)

In [29]:
    # 'name', 'location',
    # 'title', 'org', 'job_duration', 'job_location',
    # 'institute', 'digree', 'digree_duration',
    # 'skill',
    # 'company_emp_count', 'company_industry',

In [30]:
org_cols = ([col for col in df.columns if 'org' in col])

In [31]:
df.shape

(7886, 679)

In [32]:
pattern = r'(\d{1,2}) yrs (\d{1,2}) mos'
# Create a boolean mask for matching rows
mask = df[org_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)
df = df[~mask]
df.shape

C:\Users\PM\AppData\Local\Temp\ipykernel_16460\3756124456.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = df[org_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

(7779, 679)

In [33]:
def process_title(title):
    if isinstance(title, str):
        parts = title.split('(')[0]  # Split by comma and get the first part
        return(parts.lower())          # Convert to lowercase
    else:
        return(title)
df[org_cols] = df[org_cols].applymap(process_title)

In [34]:
df[org_cols]

,org_0,org_0_sub_0,org_0_sub_1,org_0_sub_2,org_0_sub_3,org_0_sub_4,org_0_sub_5,org_0_sub_6,org_0_sub_7,org_0_sub_8,...,org_17_sub_0,org_17_sub_1,org_18,org_18_sub_0,org_18_sub_1,org_19,org_19_sub_0,org_19_sub_1,org_20,current_org_industry
0,swift infos,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,vidai labs,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,apnaklub,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,brewhouse tea brewing co,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,alteryx india,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7938,hira enterprise,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7939,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7940,auxo technology labs private limited,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7941,ilyzly,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,retail apparel and fashion
7943,vv associates,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

# ORG done

In [35]:
# df.to_csv('df.csv',index = False)

In [36]:
# df=pd.read_csv('df.csv')

checkpoint

In [37]:
    # 'name', 'location',
    # 'title', 'org', 'job_duration', 'job_location',
    # 'institute', 'digree', 'digree_duration',
    # 'skill',
    # 'company_emp_count', 'company_industry',

In [38]:
# # Function to extract and convert duration to months
# def extract_duration_to_months(duration_str):
#     if pd.isna(duration_str):
#         return 0
#     pattern = r'(\d+)\s*(?:yr|y(?:r|ears))?.*?(\d+)\s*mo(?:s|nths)?|(\d+)\s*yr'

#     total_months = 0
#     matches = re.findall(pattern, duration_str)

#     for match in matches:
#         years, months, years_only = match
#         if years:
#             years = int(years)
#             total_months += years * 12
#         if months:
#             months = int(months)
#             total_months += months
#         if years_only:
#             years_only = int(years_only)
#             total_months += years_only * 12
#     print(years, months, years_only )

# Checkpoint

In [39]:
# df = pd.read_csv('df.csv')

In [40]:
job_duration_cols = [col for col in df.columns if 'job' in col and 'duration' in col]

In [41]:
df[job_duration_cols]

,job_0_duration,job_0_sub_0_duration,job_0_sub_1_duration,job_0_sub_2_duration,job_0_sub_3_duration,job_0_sub_4_duration,job_0_sub_5_duration,job_0_sub_6_duration,job_0_sub_7_duration,job_0_sub_8_duration,...,job_17_duration,job_17_sub_0_duration,job_17_sub_1_duration,job_18_duration,job_18_sub_0_duration,job_18_sub_1_duration,job_19_duration,job_19_sub_0_duration,job_19_sub_1_duration,job_20_duration
0,mar 2013 present 10 yrs 6 mos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,sep 2022 present 1 yr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,jun 2019 present 4 yrs 3 mos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,may 2012 present 11 yrs 4 mos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,aug 2019 present 4 yrs 1 mo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7938,apr 2017 present 6 yrs 5 mos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7941,jun 2017 present 6 yrs 3 mos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7943,apr 2019 present 4 yrs 5 mos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
def extract_duration_to_months(duration_str):
    if pd.isna(duration_str):
        return 'NAN'

    pattern1 = r'(\d+)\s*y(?:r|ears)?.*?(\d+)\s*mo(?:s|nths)?'
    pattern2 = r'(\d+)\s*(?:yr|y(?:r|ears))?.*?(\d+)\s*mo(?:s|nths)?|(\d+)\s*yr'

    total_months_1 = 0
    total_months_2 = 0

    matches1 = re.findall(pattern1, duration_str)
    for match in matches1:
        years, months = match
        if years:
            years = int(years)
            total_months_1 += years * 12
        if months:
            months = int(months)
            total_months_1 += months

    matches2 = re.findall(pattern2, duration_str)
    for match in matches2:
        years, months, years_only = match
        if years:
            years = int(years)
            total_months_2 += years * 12
        if months:
            months = int(months)
            total_months_2 += months
        if years_only:
            years_only = int(years_only)
            total_months_2 += years_only * 12
    l = max(total_months_1, total_months_2)

    tot = 0

    if not len(str(l)) > 4:
      tot = (l)
    else:
      tot = (min(total_months_1, total_months_2))

    return tot 

for cols in job_duration_cols:
  df[cols]=df[cols].apply(extract_duration_to_months)

In [43]:
df[job_duration_cols] = df[job_duration_cols].astype(float)

In [44]:
c = 0
for k,v in df[job_duration_cols].iterrows():
    if np.nansum(v.to_numpy())//12 > 50:
        c+=1
        print(c,k,df.loc[k,'name'])

1 17 devarajan chinnusamy
2 36 varadarajan narasimhan
3 58 vinay v
4 75 sudhir sethi
5 78 ashok kini hosdurg
6 86 appu sivamani
7 96 vinay d
8 98 arvind uppal
9 120 n r narayana murthy
10 173 manas m
11 196 hemant sharma
12 226 drramniwas prasher
13 244 manivannan us
14 334 dr manish chandra prabhakar
15 349 amitabh singh
16 374 sameer mehta
17 422 narendra b
18 468 davinder singh mendhiratta
19 490 shanker damodaran
20 598 bitra n rao
21 611 author rrachita gupta prof life mgmt coach thru astrology tarot psychology
22 672 jagadeesan ramamoorthy
23 753 younus mulla
24 894 yogesh kundra
25 933 prateek ahuja
26 939 dr l r sharma
27 972 arunprakash ganesan
28 1029 t n manoharan
29 1046 sumeet goel
30 1052 avinash ganu
31 1078 drjayesh pavra
32 1100 robin varghese
33 1174 punith kumar
34 1182 prashant pathak
35 1183 abraham lincoln
36 1191 tina sharma
37 1214 sunil shinde
38 1223 subramanian varadarajan
39 1230 roshan nazareth
40 1244 kamal k r
41 1256 vijayaraghavan gonuguntla
42 1267 commander vk jaitly
43 1274 sir mehernosh pirojsha sassan shroff
44 1285 sanjay aggarwal
45 1290 dr raja subramanian
46 1309 preeti markan
47 1326 roop kumar
48 1336 ghanshyam dass
49 1343 rajesh borge
50 1352 ananth prasath
51 1353 srinivas mantha
52 1366 dr sumeet kumar sharma
53 1374 hitesh sahni
54 1379 arumugam shankar
55 1391 aditya goyal
56 1395 renewable power
57 1400 parvesh mittal
58 1406 anuj kapur
59 1411 shadik haja
60 1420 amit gupta
61 1421 omana thampuratty shweta
62 1422 sanjay khanna hehim
63 1426 v k khandelwal
64 1427 balchandra markande
65 1435 steve rawlinson
66 1444 sanjay journeyofsuccess
67 1451 arvindra kanwal
68 1452 arun gee
69 1475 yugal kishore sharma
70 1503 arumugham at
71 1504 dinesh kumar jani phd
72 1514 svasam karthik
73 1531 satish agadi
74 1537 atul tandan
75 1565 prof bholanath dutta
76 1646 bharat moossaddee
77 1649 jagadeesh hemmige
78 1669 v r chary
79 1672 prahalad agiwal
80 1734 suresh kumar ramani
81 1745 vasudevan sourirajan
82 1775 laxmareddy yeleti
83 2407 arunkumar a v
84 2424 jaya varma sinha
85 2448 om prakash srivastava
86 2459 raj tomar
87 2467 shailesh kumar bhaskran nair
88 2529 subhash zutshi
89 2579 santhosh rebello
90 2606 ramanamurthykv epcexpert
91 2629 satish chaturvedi
92 2706 rajeev tandon
93 2819 anupama rammohan
94 2820 kk ahuja
95 2822 dinesh rai
96 2943 careernest hr
97 3023 l selvam george
98 3059 atanu sengupta
99 3113 shalaka gundi
100 3712 saraswathi venkateswaran
101 3751 jacob crasta
102 3770 wonder herbs
103 3841 chockalingam ga
104 3866 sukhbir sahni
105 3937 zen soft luggage dinesh gk
106 3939 kishore k
107 3981 naresh kakkar
108 4022 shabbir shaikh
109 4053 pramod rajpal
110 4186 dalbir singh bright
111 4560 bagichi landscapers pvt ltd
112 4608 sekhar chinni
113 4731 nanjundeswara krishnamurthy
114 4793 mohamed ahmed
115 4869 swanand malode
116 4882 sohail s khan
117 4901 deepinder mohan
118 4987 rajeev mr
119 5027 harjeet kakkar
120 5426 richard de souza
121 5440 sunit mehra
122 5442 ganesh balasubramanian
123 5449 gaurav malhotra
124 5459 dinesh jain  दनश जन  ਦਨਸ਼ ਜਨ
125 5556 manoj jayswal
126 5672 mahesh ramanathan
127 5923 sivakumar v
128 6496 ruhoon siraj sayyad
129 6563 nilesh shah
130 6582 aananda sinha
131 6593 santosh kumar dr n v s santosh kumar nagothi
132 6734 ca shweta jain
133 6834 raman jokhakar
134 6840 naushad panjwani
135 6960 kris lakshmikanth
136 6976 natarajan ngopwdserode k a
137 6978 vidyasankar mouli
138 6993 ashwani agarwal
139 7086 sheila tharyan tharyan desai
140 7216 sendilkumaar muthukaruppan
141 7335 dr sanjay gupta
142 7424 ekta kapoor
143 7526 avadhnaresh sharma
144 7559 somu gopalswamy
145 7561 ganesh babu
146 7575 p p avhad
147 7580 ramchandra belhe
148 7613 sudhakar sundaram vs
149 7654 ramesh raju

In [45]:
for k,v in df[job_duration_cols].iterrows():
    df.at[k,'total_exp'] = np.nansum(v.to_numpy())//12

In [46]:
df['total_exp'] = df['total_exp'].astype(int)
df['total_exp'].replace(0, np.nan, inplace=True)
df['total_exp']

0       10.0
1        4.0
2        9.0
3       18.0
4        4.0
        ...
7938    15.0
7939     NaN
7940     NaN
7941    12.0
7943    19.0
Name: total_exp, Length: 7779, dtype: float64

In [47]:
df[job_duration_cols]

,job_0_duration,job_0_sub_0_duration,job_0_sub_1_duration,job_0_sub_2_duration,job_0_sub_3_duration,job_0_sub_4_duration,job_0_sub_5_duration,job_0_sub_6_duration,job_0_sub_7_duration,job_0_sub_8_duration,...,job_17_duration,job_17_sub_0_duration,job_17_sub_1_duration,job_18_duration,job_18_sub_0_duration,job_18_sub_1_duration,job_19_duration,job_19_sub_0_duration,job_19_sub_1_duration,job_20_duration
0,126.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,51.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,136.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,49.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7938,77.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7941,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7943,53.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# duration done

In [48]:
institute_cols = [col for col in df.columns if 'institute' in col]

In [49]:
df[institute_cols]

,institute_0,institute_1,institute_2,institute_3,institute_4,institute_5,institute_6,institute_7,institute_8,institute_9,...,institute_11,institute_12,institute_13,institute_14,institute_15,institute_16,institute_17,institute_18,institute_19,institute_20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,amrita vishwa vidyapeetham,adhiyamann college of engineering hosur,src memorial metric higher secondary school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,harvard business school,indian institute of technology delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,indian institute of management calcutta,delhi university,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,dy patil international school,poddar international college india,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7938,ceo,manager,business development manager,marketing manager,marketing assistant,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7939,all india institute of medical sciences,osmania university,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7940,ceo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7941,rome business school,hindustan university,don bosco matriculation higher secondary school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7943,ceo,senior engineer,deputy manager,sr engineer,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df.shape

(7779, 680)

In [51]:
def contains_unwanted_values(row):
    unwanted_values = ['ceo', 'sr engineer','founder','managing director']
    return any(val.lower() in str(row).lower() for val in unwanted_values)

# Create a boolean mask based on the condition
mask = df[institute_cols].apply(contains_unwanted_values, axis=1)
df = df[~mask]
df.shape

(7657, 680)

In [52]:
def process_title(title):
    if isinstance(title, str):
        parts = title.split(',')[0]  # Split by comma and get the first part
        return(parts.lower())          # Convert to lowercase
    else:
        return(title)
df[institute_cols] = df[institute_cols].applymap(process_title)

In [53]:
df[institute_cols].head()

,institute_0,institute_1,institute_2,institute_3,institute_4,institute_5,institute_6,institute_7,institute_8,institute_9,...,institute_11,institute_12,institute_13,institute_14,institute_15,institute_16,institute_17,institute_18,institute_19,institute_20
0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,amrita vishwa vidyapeetham,adhiyamann college of engineering hosur,src memorial metric higher secondary school,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,harvard business school,indian institute of technology delhi,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,indian institute of management calcutta,delhi university,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,dy patil international school,poddar international college india,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

#instute cols done

In [54]:
    # 'name', 'location',
    # 'title', 'org', 'job_duration', 'job_location',
    # 'institute', 'digree', 'digree_duration',
    # 'skill',
    # 'company_emp_count', 'company_industry',

In [55]:
degree_cols = [col for col in df.columns if 'digree' in col and 'duration' not in col]

In [56]:
df.shape

(7657, 680)

In [57]:
df = df.astype('str')

In [58]:
pattern = r'(\d{4}) - (\d{4})'

# Create a boolean mask for matching rows
mask = df[degree_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

# Filter out rows based on the mask
df = df[~mask]
df.shape

C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1228204545.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = df[degree_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

(7657, 680)

In [59]:
pattern = r'([a-zA-Z]{3} \d{4}) - ([a-zA-Z]{3} \d{4})'
mask = df[degree_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

# Filter out rows based on the mask
df = df[~mask]
df.shape

C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1577341530.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = df[degree_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

(7657, 680)

In [60]:
def process_title(title):
    if isinstance(title, str):
        parts = title.split(',')[0]  # Split by comma and get the first part
        return(parts.lower())          # Convert to lowercase
    else:
        return(title)
df[degree_cols] = df[degree_cols].applymap(process_title)

def process_title(title):
    if isinstance(title, str):
        parts = title.split('(')[0]  # Split by comma and get the first part
        return(parts.lower())          # Convert to lowercase
    else:
        return(title)
df[degree_cols] = df[degree_cols].applymap(process_title)

In [61]:
df[degree_cols]

,digree_0,digree_1,digree_2,digree_3,digree_4,digree_5,digree_6,digree_7,digree_8,digree_9,...,digree_11,digree_12,digree_13,digree_14,digree_15,digree_16,digree_17,digree_18,digree_19,digree_20
0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,mtech molecular medicine,btech biotechnology,hsc biology,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,master of business administration mba busines...,bachelor of technology btech,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,mba post graduate diploma in management,bachelor of commerce honours degree,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,master of business administration mba marketing,bachelor of commerce bcom,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7932,dme,1991 1996,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7933,bachelors degree visual communication,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7935,master of commerce accounts,diploma in java technologies android developer...,bachelor of commerce bcom accounting and finance,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7939,doctor of medicine md biochemistry,mbbs medicine,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7941,master of business administration mba fashion...,btech aeronautical engineering,1998 2012,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

# degree cols done

In [62]:
# 'digree_duration',
# 'skill',
# 'company_emp_count', 'company_industry',

In [63]:
degree_duration_cols = [col for col in df.columns if 'digree' in col and 'duration' in col]

In [64]:
df[degree_duration_cols]

,digree_0_duration,digree_1_duration,digree_2_duration,digree_3_duration,digree_4_duration,digree_5_duration,digree_6_duration,digree_7_duration,digree_8_duration,digree_9_duration,...,digree_11_duration,digree_12_duration,digree_13_duration,digree_14_duration,digree_15_duration,digree_16_duration,digree_17_duration,digree_18_duration,digree_19_duration,digree_20_duration
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020 2022,2013 2017,1998 2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017 2019,2008 2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004 2006,1998 2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014 2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7932,1996 1999,1991 1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7933,2006 2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7935,apr 2016 mar 2018,2011 2017,2013 2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7939,1986 1988,1978 1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7941,2019 2021,2012 2016,1998 2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
import re

def calculate_duration(duration_str):
    pattern = r'(\d{4}) - (\d{4})'
    matches = re.findall(pattern, duration_str)

    total_months = 0
    for start_year, end_year in matches:
      if start_year.isdigit() and end_year.isdigit():
        start_year = int(start_year)
        end_year = int(end_year)
        total_months += (end_year - start_year) * 12
      else:
        return "NAN"

    total_years = total_months / 12

    if total_years < 1:
        return "Less than 1 year"
    elif total_years <= 4:
        return f"{int(total_years)} years"
    else:
        return "Greater than 4 years"

df[degree_duration_cols] = df[degree_duration_cols].applymap(lambda x: calculate_duration(str(x)) if isinstance(x, str) else 'NAN')

# digree duration done

In [66]:
# 'skill',
# 'company_emp_count', 'company_industry',

In [67]:
comp_emp = [col for col in df.columns if 'company' in col and 'emp' in col]
# comp_emp.append('employee_count')

In [68]:
def process_column(x):
    if pd.notnull(x):
        x = re.sub(r'employees|employee|alumni|overview|alumnus| associated members|associated member', '', x)
        x = x.replace(',', '')
        if x:
            return float(x)
    return x

# Process columns
for column in comp_emp:
    df[column] = df[column].astype(str).apply(process_column)

In [69]:
df['company_2_emp_count'] = df['company_2_emp_count'].replace('', np.nan).astype(float)

In [70]:
df[comp_emp].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7657 entries, 0 to 7941
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company_0_emp_count   4957 non-null   float64
 1   company_1_emp_count   4254 non-null   float64
 2   company_2_emp_count   3670 non-null   float64
 3   company_3_emp_count   3095 non-null   float64
 4   company_4_emp_count   2336 non-null   float64
 5   company_5_emp_count   1068 non-null   float64
 6   company_6_emp_count   714 non-null    float64
 7   company_7_emp_count   465 non-null    float64
 8   company_8_emp_count   264 non-null    float64
 9   company_9_emp_count   181 non-null    float64
 10  company_10_emp_count  104 non-null    float64
 11  company_11_emp_count  54 non-null     float64
 12  company_12_emp_count  33 non-null     float64
 13  company_13_emp_count  21 non-null     float64
 14  company_14_emp_count  17 non-null     float64
 15  company_15_emp_count  6 non-null      float64
 16  company_16_emp_count  9 non-null      float64
 17  company_17_emp_count  5 non-null      float64
 18  company_18_emp_count  3 non-null      float64
 19  company_19_emp_count  3 non-null      float64
dtypes: float64(20)
memory usage: 1.2 MB

# emp_count done

In [71]:
comp_ind = [col for col in df.columns if 'company' in col and 'industry' in col]

In [72]:
df[comp_ind]

,company_0_industry,company_1_industry,company_2_industry,company_3_industry,company_4_industry,company_5_industry,company_6_industry,company_7_industry,company_8_industry,company_9_industry,company_10_industry,company_11_industry,company_12_industry,company_13_industry,company_14_industry,company_15_industry,company_16_industry,company_17_industry,company_18_industry,company_19_industry
0,it services and it consulting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,veterinary services,manufacturing,food and beverage services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,wholesale,NaN,business consulting and services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,food and beverage services,banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# cleaning is done

In [73]:
# df.drop_duplicates(inplace=True)
# df.reset_index(drop=True, inplace=True)
# df.to_excel('Linkedin_cleaned.xlsx',index = False)

In [74]:
# df = pd.read_excel('Linkedin_cleaned.xlsx')
# orgdf = df.copy()

In [75]:
# df = orgdf.copy()

In [76]:
sdf = pd.DataFrame()
titlecols = [col for col in df.columns if 'title' in col]
sdf['all_titles'] = df[titlecols].apply(lambda row: ','.join(row.dropna().astype(str)), axis=1)#--------------------------------------remove punctuvation
# sdf.drop(columns=titlecols, inplace=True)

# Title

In [77]:
titles = []
for i in sdf['all_titles']:
  for j in i.split(','):
    titles.append(j)
len(titles)

1018381

In [78]:
from collections import defaultdict
title_counts = defaultdict(int)

for title in titles:
    title_counts[title] += 1

# Step 3: Sort the names based on their counts
sorted_title = sorted(title_counts.keys(), key=lambda title: title_counts[title], reverse=True)
sorted_title

titlec = []
# Print the sorted names
for title in sorted_title:
    titlec.append(f"{title}: {title_counts[title]}")

In [79]:
titledict = {}

In [80]:
inlist = ['founder']
notinlist = ['co','ceo','chief executive officer','c.e.o']# founder
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['founder'] = apl

inlist = ['founder','co']# co-founder
notinlist = ['ceo','chief executive officer','c.e.o','product manager']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['co-founder'] = apl

inlist = ['ceo','chief executive officer','c.e.o']# founder and ceo         -- after mapping founder, ceo if there is founder in the list yet. then they are founder and ceo
notinlist = ['founder','product manager']
apl = set()
for i in sorted_title:
    if any(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['ceo'] = apl

inlist = ['cfo']# co-founder
notinlist = ['ceo','chief executive officer','c.e.o','chief operating officer','product manager','assistant']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['cfo'] = apl

inlist = ['product manager']# co-founder
notinlist = ['ceo','chief executive officer','c.e.o','chief operating officer','assistant']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['product manager'] = apl

inlist = ['project manager']# co-founder
notinlist = ['ceo','chief executive officer','c.e.o','chief operating officer','assistant']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['project manager'] = apl

inlist = ['head','hr']# co-founder
notinlist = ['ceo','chief executive officer','c.e.o','chief operating officer','assistant','branch','polychrome','andhra pradesh']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['head-hr'] = apl

# inlist = ['head','hr']# co-founder
# notinlist = ['ceo','chief executive officer','c.e.o','chief operating officer','assistant','branch','polychrome','andhra pradesh']
# apl = set()
# for i in sorted_title:
#     if all(word in i for word in inlist) and all(word not in i for word in notinlist):
#       apl.add(i)
# titledict['head-hr'] = apl
# apl

In [81]:
inlist = ['head','hr']# co-founder
notinlist = ['ceo','chief executive officer','c.e.o','chief operating officer','assistant','branch','polychrome','andhra pradesh']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['head-hr'] = apl
apl

{'advisor  hr head',
 'agm and hr head',
 'agmhr and head capital markets line of business',
 'area head  hr',
 'area head hr',
 'area headhr',
 'associate vice president  head hr  bpo',
 'associate vice president hr head od',
 'asst manager  hr as head  hr',
 'avp  head hr low voltage products india',
 'avp  hr and group head',
 'avp  human resources head of hr',
 'avp  human resources regional hr head',
 'avp and head  chrmc',
 'avp head of apac  hr business partners  talent acquisition',
 'avp hr head human capital  organisational transformation',
 'board director  hr head',
 'bu hr head  manager human resources',
 'business head uaebahriain',
 'business hr head',
 'career counselor  hr head',
 'chief manager  head hr',
 'chief manager for siemens and hr head for siemens enterprise communication pvt ltd',
 'chief managerhr head hrwest',
 'circle head hr',
 'circle hr head mumbai',
 'cofounder  head of hrhcm consulting',
 'consultanthead hr',
 'corporate head  hr',
 'corporate head hr',
 'corporate head hr and admin',
 'corporate headhr',
 'corporate hr head',
 'corporate hr manager heading hr dept pan india  srilanka reporting to md',
 'corporate hr manager heading hr dept pan india for 3 business unitsreporting to board ofdirectors',
 'country head  hr',
 'country head hr',
 'country hr head',
 'country hr head  ncs india',
 'country hr head  sales  marketing',
 'country hr head india  sl',
 'department head  bhr',
 'department head business hr',
 'department head hrd',
 'deputy general manager  hr head hr',
 'deputy head  hr',
 'deputy head hr  training',
 'deputy hr head',
 'dgm  human resources  cb business partnerhr systemsshared services head',
 'dgm and headhr',
 'director  head  hr  corporate services',
 'director  head hr  india  apac',
 'director  head hr for bfsi business unit',
 'director  head of hr',
 'director  head of hr india',
 'director  head of hr l shared services  corporate communications',
 'director  human resources  country hr head',
 'director head hr',
 'directorregional head hr  administration asia  sub continent',
 'divisional head  hr',
 'faculty in bschools also i am serving as global head hr',
 'founding team member  head hr',
 'general manager  business hr head',
 'general manager  head business hr',
 'general manager  head hr  operational excellence',
 'general manager  head of hr shared services',
 'general manager  human resources head hr  admin',
 'general manager and global hr head  business application services',
 'general manager and head hr',
 'global head  hr',
 'global head  hr chro',
 'global head  hr operational excellence',
 'global head hr',
 'global head of hr',
 'global hr head',
 'gm  hr  head hr',
 'group head  hr',
 'group head  hr  admin',
 'group head  hr  administration',
 'group head  hr  operations',
 'group head  vp hr  administration',
 'group head hr',
 'group hr head',
 'head  business hr',
 'head  commercial hr  sales  mktg org',
 'head  corporate hr',
 'head  field hr',
 'head  hr',
 'head  hr  adm',
 'head  hr  admin',
 'head  hr  admin india business',
 'head  hr  administration',
 'head  hr  admn',
 'head  hr  business assurance',
 'head  hr  business strategy',
 'head  hr  corporate',
 'head  hr  home finance business unit',
 'head  hr  hr services',
 'head  hr  ipst',
 'head  hr  ir',
 'head  hr  operations',
 'head  hr  sales  srfacilitator  consultant',
 'head  hr  strategic alliances  staqo world division of sheela foam',
 'head  hr admin',
 'head  hr and admin',
 'head  hr and administration',
 'head  hr and administration plant',
 'head  hr and ba operations',
 'head  hr and external communications',
 'head  hr and finance',
 'head  hr and fulfilment',
 'head  hr and operations',
 'head  hr asst general manager',
 'head  hr avphr',
 'head  hr business partner',
 'head  hr compensation  benefits',
 'head  hr consumer division',
 'head  hr financial services',
 'head  hr gobal talent acquisition expert',
 'head  hr head  admin',
 'head  hr noida unit',
 'head  hr operations',
 'head  hr operations  capability network and business partner south regions',
 'head  hr recruitment',
 'head  hr services',
 'head  hr systems',
 'head  hr tech services',
 'head  hradministration',
 'head  hrd',
 'head  hrdits',
 'head  hriradmn',
 'head  operations  hr',
 'head  operations and hr',
 'head  talent acquisition  hr operations',
 'head  vp hr  admin',
 'head business hr  hrsd',
 'head corporate hr',
 'head corporate hr and ir',
 'head hr',
 'head hr  admin',
 'head hr  administration',
 'head hr  admn',
 'head hr  advisor',
 'head hr  dbs asia hub 2',
 'head hr  distribution',
 'head hr  emerging businesses',
 'head hr  global business services',
 'head hr  global green group',
 'head hr  gujarat circle',
 'head hr  hamleys',
 'head hr  head hr',
 'head hr  hrbp',
 'head hr  hrm function',
 'head hr  imea region',
 'head hr  india',
 'head hr  india region',
 'head hr  internal affairs',
 'head hr  international business',
 'head hr  ir',
 'head hr  ir  administration',
 'head hr  learning',
 'head hr  legal advisor for group of manufacturing  it companies',
 'head hr  marketing',
 'head hr  mentor 20',
 'head hr  mumbai circle',
 'head hr  operations',
 'head hr  personnel',
 'head hr  projects',
 'head hr  retail capital market',
 'head hr  sales and marketing',
 'head hr  ssc',
 'head hr  swiggy new business private brands',
 'head hr  talent acquisition',
 'head hr  tamil nadu circle',
 'head hr analytics quotient',
 'head hr and admin',
 'head hr and ir',
 'head hr apac  eu',
 'head hr at dineout  a times internet company',
 'head hr automation',
 'head hr avphr',
 'head hr business partner',
 'head hr coe',
 'head hr consultant',
 'head hr development',
 'head hr for tcsfs',
 'head hr gbs its chennai',
 'head hr gmhr',
 'head hr group digital  it',
 'head hr hyderabad',
 'head hr india',
 'head hr india centre of excellence',
 'head hr india region  regional leader  apac',
 'head hr manager',
 'head hr north',
 'head hr operations',
 'head hr operations  talent management',
 'head hr operations and lod',
 'head hr operations ola grouphrbp ola electric',
 'head hr people and culture',
 'head hr refinery division',
 'head hr refining',
 'head hr retail',
 'head hr systems  training',
 'head hr talent acquisition non it',
 'head hr west  corporate',
 'head hr west zone',
 'head hrbp',
 'head hrbp and lead tapan india',
 'head hrd and training',
 'head hrtech',
 'head location hr',
 'head of finance and hr',
 'head of global hr',
 'head of hr',
 'head of hr  admin',
 'head of hr  admin mamager',
 'head of hr  administration',
 'head of hr  center of competence functions',
 'head of hr  fyers securities pvt ltd',
 'head of hr  global hr  hr transformation  people partner',
 'head of hr  group ehs head',
 'head of hr  india',
 'head of hr  retail',
 'head of hr  s asia',
 'head of hr  talent',
 'head of hr and communication',
 'head of hr and talent management',
 'head of hr for bangalore complex',
 'head of hr india',
 'head of hr ir',
 'head of hr operations',
 'head of hr operations  gss global center',
 'head of hr professional  luxury division',
 'head of hr professional products division',
 'head of hr recruitment  placements',
 'head of hr service delivery gbs people services  asia pacific hub',
 'head of hr shared services',
 'head of hr talent and culture',
 'head of hriradmin',
 'head of operations  hr at solitaire global schools',
 'head of operations administration and hr',
 'head of people excellence  hr head for xto10x',
 'head of recruiting and hr',
 'head of talent acquisition and hr operations',
 'head operationshr',
 'head placement and hr',
 'head recruitment  hr operations vice president',
 'head talent acquisition  business partner hr at airasia india',
 'head trade marketing  distribution hr  south',
 'headgmhrir for group',
 'headhr',
 'headhr  admin',
 'headhr  administration',
 'headhr business partner and organization development',
 'headtraining and employee development  managerteam lead  hrcompetence devt',
 'hr  admin head',
 'hr  admin head at samsung ct  qatar',
 'hr  functional head',
 'hr  operations head',
 'hr admin  head of medical records  radiology department',
 'hr and business head',
 'hr and operations head',
 'hr and talent acquisition head at start up venture',
 'hr and training head',
 'hr business head',
 'hr business partner and recruitment  resourcing head  india',
 'hr director  head hr power system business  cummins india',
 'hr director  regional head of hr  mena  apac',
 'hr director head human resources',
 'hr head',
 'hr head  admin operations',
 'hr head  corporate banking  coe lead  hr technology',
 'hr head  dell rd  india ma leader',
 'hr head  global recruiting at farenidham manpower solutions',
 'hr head  inbound',
 'hr head  india',
 'hr head  india regions and middle east geographies',
 'hr head  mahindra agri part of mahindra  mahindra ltd',
 'hr head  pan india',
 'hr head  sap',
 'hr head  star plus',
 'hr head  supply chain  manufacturing',
 'hr head  technology',
 'hr head and administration',
 'hr head at colors queen',
 'hr head at samod food industry',
 'hr head circle',
 'hr head for various enitites under the umbrella of tata teleservices',
 'hr head global  global people business partner  infrastructure  cloud',
 'hr head hr director',
 'hr head mg',
 'hr head recruiter',
 'hr head recruitment',
 'hr head reliance digital stores',
 'hr headindia operations',
 'hr manager  head of hr hrbp talent acqusition hr advisor',
 'hr manager and training head',
 'hr manager head of hr',
 'hr manager regional head',
 'hr manager role head  hr',
 'hr operations  enforcement head',
 'hr recruitment head',
 'hrhead',
 'human  admin manager head hr',
 'human resource head  hr  operations',
 'india head and head of hr',
 'india head of hr',
 'india sites hr head',
 'jtgeneral manager  hr  refinery and head ld eol',
 'lead hrbp  head of hr operations  india',
 'location relationship hr head',
 'manager  hr  country hr head',
 'manager  hr as head hr',
 'manager  human resources corporate  head hr',
 'marketing  hr head',
 'md  hr head',
 'mentor  head hr  operations',
 'national headhr',
 'operational head  hr',
 'operations head  hr',
 'people operations manager hr head blr',
 'plant head  hr',
 'plant hr head',
 'president  group head  hr',
 'principal hr consultant  business head',
 'regional head  hr',
 'regional head hr',
 'regional head hr  south ka  tn',
 'regional head hr services',
 'regional head of hr transformation  change management  india  south asia',
 'regional headhr',
 'regional hr head',
 'regional hr head  west',
 'regional hr head mumbai region',
 'regional hr head south',
 'sbu head hr',
 'senior director  head of hr  prodapt india',
 'senior directorhrhead hr india',
 'senior general manager  headhr',
 'senior manager  circle hr head',
 'senior manager  head hr',
 'senior manager  hr role head  hr',
 'senior manager hr head of dept',
 'senior manager hr head of the dept',
 'senior vice presdient  head hr',
 'senior vice president  head hr  global delivery',
 'senior vice president and head hr',
 'senior vp  group hr head',
 'site hr head',
 'social media manager and hr head',
 'south asia  head hr',
 'southeren regional head  hr',
 'sr head hr',
 'sr hr  admin head',
 'sr manager  hr head hr',
 'sr manager  site hr head',
 'sr manager hr site hr head for its operations in kolkata',
 'sr vice president  hr head  hr',
 'sr vp  group head  hr  administration',
 'state head hr',
 'state head hr smsl',
 'strategic hr head is utilities',
 'svp  head  corporate global hr',
 'svp and head hr',
 'unit head  hr',
 'unit head  hr senior manager',
 'unit head hr',
 'unit head hr  admin',
 'unit hr head',
 'vertical head hr',
 'vertical head hr learning  development',
 'vice president  coporate hr for birla century and head hr for birla estates',
 'vice president  corporate hr head',
 'vice president  group head hr',
 'vice president  head  hr',
 'vice president  head hr',
 'vice president  head hr  global delivery',
 'vice president  head hr  india region',
 'vice president  head hrsafran group',
 'vice president  head of hr',
 'vice president  head of hr apac  technology',
 'vice president  head of hr isprava  lohono',
 'vice president  hr head  informatica india',
 'vice president and head business hr',
 'vice president and head hr',
 'vice president and head hr fttx',
 'vice president and head hr india',
 'vice president and unit head hr  reliance industries ltd  mobility',
 'vp and geography hr head',
 'vp and global head hr',
 'vp and zonal head hr',
 'zonal head  hr',
 'zonal head  hr business partner and program head at yes bank',
 'zonal head  hr south zone',
 'zonal head  hr sr hrbp',
 'zonal head hr',
 'zonal hr head'}

In [82]:
def map_degree(value):
    for k, v in titledict.items():
        if value in v:
            return k
    return value
for col in titlecols:
  df[f'mapped_{col}'] = df[col].apply(map_degree)

C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)

In [83]:
df.columns

Index(['name', 'location', 'org_0', 'title_0', 'job_0_duration',
       'job_0_location', 'org_0_sub_0', 'title_0_sub_0',
       'job_0_sub_0_duration', 'job_0_sub_0_location',
       ...
       'mapped_title_17', 'mapped_title_17_sub_0', 'mapped_title_17_sub_1',
       'mapped_title_18', 'mapped_title_18_sub_0', 'mapped_title_18_sub_1',
       'mapped_title_19', 'mapped_title_19_sub_0', 'mapped_title_19_sub_1',
       'mapped_title_20'],
      dtype='object', length=813)

In [84]:
sdf = pd.DataFrame()
maptitlecols = []
for i in range(len(titlecols)):
  maptitlecols.append(f'mapped_{titlecols[i]}')
sdf['all_titles'] = df[maptitlecols].apply(lambda row: ','.join(row.dropna().astype(str)), axis=1)#--------------------------------------remove punctuvation

In [85]:
titles = []
for i in sdf['all_titles']:
  for j in i.split(','):
    titles.append(j)
len(titles)

1018381

In [86]:
from collections import defaultdict
title_counts = defaultdict(int)

for title in titles:
    title_counts[title] += 1

# Step 3: Sort the names based on their counts
sorted_title = sorted(title_counts.keys(), key=lambda title: title_counts[title], reverse=True)
sorted_title

titlec = []
# Print the sorted names
for title in sorted_title:
    titlec.append(f"{title}: {title_counts[title]}")
titlec

['NaN: 983551',
 'founder: 1632',
 'ceo: 1496',
 'product manager: 1192',
 'head-hr: 909',
 'co-founder: 800',
 'project manager: 626',
 'director: 444',
 'cfo: 399',
 'managing director: 330',
 'founder  ceo: 326',
 'chief financial officer: 307',
 'intern: 272',
 'business analyst: 253',
 'chief technology officer: 237',
 'software engineer: 234',
 'chief marketing officer: 213',
 'manager: 207',
 'consultant: 181',
 'summer intern: 168',
 'hr manager: 158',
 'vice president: 152',
 'assistant manager: 142',
 'business development manager: 137',
 'account manager: 125',
 'general manager: 122',
 'founder and ceo: 120',
 'head of human resources: 115',
 'senior software engineer: 112',
 'senior manager: 111',
 'hr executive: 100',
 'management trainee: 93',
 'associate: 92',
 'partner: 89',
 'president: 87',
 'owner: 82',
 'business development executive: 80',
 'chief operating officer: 75',
 'cofounder  ceo: 71',
 'managing partner: 68',
 'human resources manager: 68',
 'team lead: 66',
 'analyst: 64',
 'senior consultant: 63',
 'software developer: 62',
 'executive director: 61',
 'deputy manager: 57',
 'technical recruiter: 55',
 'chairman: 54',
 'proprietor: 50',
 'marketing manager: 50',
 'marketing intern: 49',
 'internship: 48',
 'sales manager: 48',
 'executive: 47',
 'senior business analyst: 47',
 'operations manager: 46',
 'manager hr: 46',
 'member: 45',
 'team leader: 44',
 'talent acquisition specialist: 44',
 'associate consultant: 42',
 'trainee: 42',
 'head: 40',
 'program manager: 40',
 'key account manager: 40',
 'manager  hr: 40',
 'technical lead: 39',
 'ceo  founder: 38',
 'hr business partner: 38',
 'relationship manager: 37',
 'summer internship: 37',
 'data analyst: 37',
 'advisor: 37',
 'research intern: 36',
 'associate director: 36',
 'senior associate: 36',
 'associate vice president: 35',
 'sales executive: 35',
 'marketing executive: 35',
 'senior human resources manager: 35',
 'web developer: 34',
 'assistant manager human resources: 34',
 'senior vice president: 34',
 'finance manager: 33',
 'branch manager: 33',
 'coo: 33',
 'board member: 33',
 'entrepreneur: 32',
 'product management intern: 32',
 'hr: 31',
 'cto: 31',
 'project lead: 31',
 'manager  human resources: 30',
 'architect: 29',
 'head of marketing: 29',
 'business head: 29',
 'internship trainee: 29',
 'cofounder and ceo: 28',
 'project intern: 28',
 'assistant professor: 28',
 'sr manager: 28',
 'student: 28',
 'digital marketing manager: 28',
 'human resources executive: 28',
 'project leader: 27',
 'digital marketing intern: 27',
 'project engineer: 27',
 'project coordinator: 27',
 'assistant vice president: 27',
 'product executive: 27',
 'recruiter: 27',
 'engineer: 26',
 'principal consultant: 26',
 'assistant manager hr: 26',
 'deputy general manager: 25',
 'business development: 25',
 'product analyst: 25',
 'it recruiter: 25',
 'assistant manager  hr: 25',
 'regional manager: 24',
 'business owner: 24',
 'hr generalist: 24',
 'digital marketing executive: 24',
 'talent acquisition manager: 24',
 'head human resources: 24',
 'area sales manager: 23',
 'process associate: 23',
 'business consultant: 23',
 'technical architect: 23',
 'senior executive: 23',
 'human resources: 23',
 'group chief financial officer: 23',
 'mentor: 23',
 'financial controller: 23',
 'senior analyst: 22',
 'head of operations: 22',
 'coordinator: 22',
 'project trainee: 22',
 'sr consultant: 22',
 'chief human resources officer: 22',
 'programmer analyst: 21',
 'management intern: 21',
 'recruitment manager: 21',
 'campus ambassador: 21',
 'asst manager: 21',
 'angel investor: 21',
 'technical consultant: 21',
 'senior executive human resources: 21',
 'vice president human resources: 21',
 'senior talent acquisition specialist: 20',
 'research analyst: 20',
 'senior engineer: 20',
 'system administrator: 20',
 'head  human resources: 20',
 'senior director: 19',
 'engineering manager: 19',
 'chief manager: 19',
 'research associate: 19',
 'associate software engineer: 19',
 'manager finance: 19',
 'finance controller: 19',
 'senior technical recruiter: 19',
 'hr recruiter: 18',
 'business development associate: 18',
 'director of engineering: 18',
 'founder ceo: 18',
 'human resources specialist: 18',
 'account executive: 18',
 'avp: 18',
 'digital marketing specialist: 18',
 'sales and marketing intern: 18',
 'senior account manager: 18',
 'human resources business partner: 18',
 'brand manager: 18',
 'principal: 18',
 'ceo and founder: 17',
 'content writer: 17',
 'ceo  cofounder: 17',
 'delivery manager: 17',
 'regional sales manager: 17',
 'data scientist: 17',
 'system analyst: 17',
 'programmer: 17',
 'hr consultant: 17',
 'system engineer: 16',
 'independent consultant: 16',
 'technical manager: 16',
 'summer trainee: 16',
 'associate manager: 16',
 'business development intern: 16',
 'talent acquisition: 16',
 'human resources intern: 16',
 'management consultant: 16',
 'asst manager hr: 16',
 'visiting faculty: 16',
 'associate business analyst: 16',
 'assistant product manager: 16',
 'head of talent acquisition: 16',
 'hr intern: 16',
 'senior manager  human resources: 16',
 'talent acquisition lead: 16',
 'systems engineer: 15',
 'social media manager: 15',
 'sr executive: 15',
 'article assistant: 15',
 'company owner: 15',
 'branch head: 15',
 'research assistant: 15',
 'business manager: 15',
 'executive hr: 15',
 'it manager: 15',
 'vice president finance: 15',
 'officer: 15',
 'human resources consultant: 15',
 'manager human resources: 15',
 'product owner: 15',
 'recruitment consultant: 15',
 'vp: 14',
 'lecturer: 14',
 'md: 14',
 'independent director: 14',
 'entrepreneur in residence: 14',
 'financial analyst: 14',
 'strategic advisor: 14',
 'head of finance: 14',
 'industrial trainee: 14',
 'secretary: 14',
 'director of operations: 14',
 'finance director: 14',
 'asst manager  hr: 14',
 'senior manager hr: 14',
 'graphic designer: 13',
 'coowner: 13',
 'head of engineering: 13',
 'application developer: 13',
 'developer: 13',
 'senior business development manager: 13',
 'teacher: 13',
 'principal engineer: 13',
 'gm: 13',
 'regional head: 13',
 'senior manager  hr: 13',
 'recruitment specialist: 13',
 'senior executive hr: 13',
 'member board of directors: 12',
 'architectural intern: 12',
 'summer associate: 12',
 'chief people officer: 12',
 'design engineer: 12',
 'event coordinator: 12',
 'customer service representative: 12',
 'interior designer: 12',
 'sr vice president: 12',
 'graduate engineering trainee: 12',
 'project head: 12',
 'sr software engineer: 12',
 'associate partner: 12',
 'territory manager: 12',
 'tech lead: 12',
 'chief executive: 12',
 'php developer: 12',
 'freelancer: 12',
 'team manager: 12',
 'country manager: 12',
 'director finance: 12',
 'sr manager hr: 12',
 'team member: 12',
 'senior advisor: 12',
 'general manager human resources: 12',
 'executive  hr: 12',
 'senior manager human resources: 12',
 'sr technical recruiter: 12',
 'chairman  managing director: 11',
 'professor: 11',
 'student intern: 11',
 'business development specialist: 11',
 'founding member: 11',
 'chartered accountant: 11',
 'investor: 11',
 'faculty: 11',
 'cmd: 11',
 'accountant: 11',
 'lead consultant: 11',
 'placement coordinator: 11',
 'lead engineer: 11',
 'operations executive: 11',
 ': 11',
 'vice president marketing: 11',
 'assistant general manager: 11',
 'vice president  finance: 11',
 'head of recruitment: 11',
 'corporate trainer: 11',
 'it consultant: 11',
 'general manager hr: 11',
 'hr officer: 11',
 'workplace: 11',
 'government id: 11',
 'business partner: 10',
 'software developer intern: 10',
 'product engineer: 10',
 'volunteer: 10',
 'lead: 10',
 'member of technical staff: 10',
 'service engineer: 10',
 'founding partner: 10',
 'quality analyst: 10',
 'co founder  ceo: 10',
 'lead recruiter: 10',
 'teaching assistant: 10',
 'director of business development: 10',
 'market research intern: 10',
 'executive assistant: 10',
 'freelance consultant: 10',
 'head  talent acquisition: 10',
 'executive vice president: 10',
 'finance executive: 10',
 'software engineer intern: 10',
 'product lead: 10',
 'android developer: 10',
 'group manager: 10',
 'human resource: 10',
 'director human resources: 10',
 'managerhr: 10',
 'director hr: 10',
 'sr it recruiter: 10',
 'articled assistant: 10',
 'merchandiser: 10',
 'principal architect: 9',
 'business analyst intern: 9',
 'web designer: 9',
 'area manager: 9',
 'senior program manager: 9',
 'center manager: 9',
 'technology consultant: 9',
 'founding director: 9',
 'freelance: 9',
 'head of business development: 9',
 'senior business development executive: 9',
 'marketing: 9',
 'product specialist: 9',
 'senior software developer: 9',
 'software programmer: 9',
 'professional freelancer: 9',
 'personal goal pursuit: 9',
 'assistant project manager: 9',
 'self employed: 9',
 'senior architect: 9',
 'visiting professor: 9',
 'technical support engineer: 9',
 'digital marketing consultant: 9',
 'general manager finance: 9',
 'software test engineer: 9',
 'senior sales manager: 9',
 'manager  finance  accounts: 9',
 'accounts manager: 9',
 'gm finance: 9',
 'product management: 9',
 'legal intern: 9',
 'relationship officer: 9',
 'full stack developer: 9',
 'market research analyst: 9',
 'customer support engineer: 9',
 'senior executive  hr: 9',
 'head talent acquisition: 9',
 'manager talent acquisition: 9',
 'technical director: 9',
 'financial advisor: 8',
 'process executive: 8',
 'product: 8',
 'founderceo: 8',
 'sales and marketing specialist: 8',
 'sr recruiter: 8',
 'technical team lead: 8',
 'project specialist: 8',
 'technical analyst: 8',
 'senior recruiter: 8',
 'cmo: 8',
 'summer analyst: 8',
 'production engineer: 8',
 'psychologist: 8',
 'audit assistant: 8',
 'certified legal intern: 8',
 'dy general manager: 8',
 'software consultant: 8',
 'administrator: 8',
 'sr software developer: 8',
 'search engine optimization specialist: 8',
 'manager business development: 8',
 'asst vice president: 8',
 'marketing director: 8',
 'vice president  hr: 8',
 'site engineer: 8',
 'network engineer: 8',
 'senior sales executive: 8',
 'deputy manager finance: 8',
 'chro: 8',
 'associate professor: 8',
 'general manager  human resources: 8',
 'lead business analyst: 8',
 'product marketing manager: 8',
 'live project: 8',
 'business development consultant: 8',
 'human resources generalist: 8',
 'hr specialist: 8',
 'resource manager: 8',
 'deputy manager human resources: 8',
 'talent acquisition consultant: 8',
 'talent acquisition executive: 8',
 'bdm: 7',
 'junior architect: 7',
 'team lead manager: 7',
 'junior engineer: 7',
 'principal software engineer: 7',
 'category manager: 7',
 'managing editor: 7',
 'assistant sales manager: 7',
 'assistant manager finance: 7',
 'head of sales: 7',
 'sales engineer: 7',
 'engineering intern: 7',
 'sales director: 7',
 'seo analyst: 7',
 'head of business operations: 7',
 'assistant director: 7',
 'business associate: 7',
 'creative director: 7',
 'sr account manager: 7',
 'treasurer: 7',
 'audit manager: 7',
 'team lead recruitment: 7',
 'senior: 7',
 'general manager  finance: 7',
 'marketing head: 7',
 'dgm: 7',
 'commercial manager: 7',
 'chief information officer: 7',
 'project director: 7',
 'manager accounts: 7',
 'head it: 7',
 'project management intern: 7',
 'head of technology: 7',
 'personnel officer: 7',
 'vice president  human resources: 7',
 'deputy manager hr: 7',
 'sr executive hr: 7',
 'general manager  hr: 7',
 'agm: 7',
 'deputy manager  hr: 7',
 'human resources officer: 7',
 'sr manager  hr: 7',
 'vice president hr: 7',
 'manager  talent acquisition: 7',
 'director  human resources: 7',
 'us it recruiter: 7',
 'senior programmer: 7',
 'assistant manager  talent acquisition: 7',
 'vice chairman: 6',
 'accounts executive: 6',
 'risk analyst: 6',
 'senior design engineer: 6',
 'group head: 6',
 'senior web developer: 6',
 'editor: 6',
 'sr business analyst: 6',
 'svp: 6',
 'student volunteer: 6',
 'ceo and cofounder: 6',
 'head of sales marketing: 6',
 'marketing consultant: 6',
 'student coordinator: 6',
 'systems analyst: 6',
 'training: 6',
 'seo executive: 6',
 'technical head: 6',
 'manager projects: 6',
 'chairman of the board: 6',
 'article trainee: 6',
 'marketing analyst: 6',
 'designer: 6',
 'fellow: 6',
 'creative head: 6',
 'social media marketing intern: 6',
 'vice president of business development: 6',
 'senior operations manager: 6',
 'company secretary: 6',
 'project assistant: 6',
 'internal auditor: 6',
 'operations intern: 6',
 'senior recruitment consultant: 6',
 'vice president operations: 6',
 'senior system engineer: 6',
 'account director: 6',
 'chief business officer: 6',
 'software engineering intern: 6',
 'customer care executive: 6',
 'chief general manager: 6',
 'country head: 6',
 'solutions architect: 6',
 'sr executive  hr: 6',
 'information technology consultant: 6',
 'head of product: 6',
 'senior hr executive: 6',
 'dgm finance: 6',
 'manager  finance: 6',
 'senior finance manager: 6',
 'vp finance: 6',
 'assistant system engineer: 6',
 'software development intern: 6',
 'mba summer intern: 6',
 'community manager: 6',
 'senior brand manager: 6',
 'office manager: 6',
 'commercial executive: 6',
 'manager hr  admin: 6',
 'senior hr manager: 6',
 'human resources assistant: 6',
 'hr director: 6',
 'human resources associate: 6',
 'hr  admin manager: 6',
 'human resources director: 6',
 'associate recruiter: 6',
 'talent acquisition partner: 6',
 'recruitment executive: 6',
 'senior hr business partner: 6',
 'recruitment lead: 6',
 'sales intern: 6',
 'recruitment coordinator: 6',
 'assistant manager business development: 6',
 'senior manager  technology: 6',
 'group chief technology officer: 6',
 'seo specialist: 6',
 'chairperson: 5',
 'mobile application developer: 5',
 'asst general manager: 5',
 'non executive director: 5',
 'member of the board of advisors: 5',
 'technical assistant: 5',
 'production manager: 5',
 'vice president of engineering: 5',
 'product designer: 5',
 'staff engineer: 5',
 'senior relationship manager: 5',
 'startup mentor: 5',
 'sales associate: 5',
 'general secretary: 5',
 'head of sales and business development: 5',
 'managing trustee: 5',
 'cluster manager: 5',
 'executive board member: 5',
 'human resources trainee: 5',
 'chief innovation officer: 5',
 'ecommerce manager: 5',
 'senior interior designer: 5',
 'advisory board member: 5',
 'founder  chief executive officer: 5',
 'operations head: 5',
 'manager operations: 5',
 'java developer: 5',
 'senior accountant: 5',
 'summer research intern: 5',
 'manager finance  accounts: 5',
 'career transition: 5',
 'senior engineering manager: 5',
 'senior developer: 5',
 'solution architect: 5',
 'design manager: 5',
 'senior system administrator: 5',
 'strategic account manager: 5',
 'project associate: 5',
 'head  technology: 5',
 'customer service associate: 5',
 'chief architect: 5',
 'operations team lead: 5',
 'net developer: 5',
 'hrd manager: 5',
 'sales officer: 5',
 'head  operations: 5',
 'student mentor: 5',
 'operations: 5',
 'software development engineer: 5',
 'cluster head: 5',
 'product consultant: 5',
 'graduate teaching assistant: 5',
 'subject matter expert: 5',
 'program officer: 5',
 'dgmhr: 5',
 'executive  hr  admin: 5',
 'assistant manager  human resources: 5',
 'various: 5',
 'senior technical manager: 5',
 'vice president  operations: 5',
 'education consultant: 5',
 'sr general manager: 5',
 'centre manager: 5',
 'group financial controller: 5',
 'accounts officer: 5',
 'chief finance officer: 5',
 'senior technical consultant: 5',
 'senior product analyst: 5',
 'business technology analyst: 5',
 'strategy intern: 5',
 'program management intern: 5',
 'joint secretary: 5',
 'technical intern: 5',
 'wealth manager: 5',
 'project delivery manager: 5',
 'test engineer: 5',
 'frontend engineer: 5',
 'organizer: 5',
 'founding team: 5',
 'assistant brand manager: 5',
 'web development intern: 5',
 'engineer intern: 5',
 'technical account manager: 5',
 'associate system engineer: 5',
 'technology analyst: 5',
 'assistant marketing manager: 5',
 'it analyst: 5',
 'project development manager: 5',
 'quality assurance manager: 5',
 'promoter: 5',
 'hr associate: 5',
 'vp hr: 5',
 'deputy general manager human resources: 5',
 'director  hr: 5',
 'manager hr operations: 5',
 'dy manager hr: 5',
 'group hr manager: 5',
 'deputy general manager hr: 5',
 'hr assistant: 5',
 'senior research analyst: 5',
 'regional hr manager: 5',
 'senior human resources officer: 5',
 'head of human resources operations: 5',
 'sr hr: 5',
 'hr coordinator: 5',
 'hrbp: 5',
 'field work intern: 5',
 'talent acquisition leader: 5',
 'staffing manager: 5',
 'human resources lead: 5',
 'head human resources development: 5',
 'vp engineering: 5',
 'chairman and managing director: 5',
 'engineering lead: 5',
 'director engineering: 5',
 'software architect: 5',
 'wordpress developer: 5',
 'business unit head: 5',
 'search engine optimization analyst: 5',
 'collector  district magistrate: 5',
 'manager  marketing: 5',
 'recruitment account manager: 5',
 'service delivery manager: 5',
 'visiting lecturer: 5',
 'associate researcher: 4',
 'investment banker: 4',
 'group vice president: 4',
 'lead software engineer: 4',
 'ios developer: 4',
 'gm sales: 4',
 'group managing director: 4',
 'senior principal engineer: 4',
 'manager  business development: 4',
 'customer service executive: 4',
 'delegate: 4',
 'director of product management: 4',
 'freelance writer: 4',
 'editor in chief: 4',
 'engineering trainee: 4',
 'floor manager: 4',
 'game developer: 4',
 'city head: 4',
 'customer service: 4',
 'research executive: 4',
 'zonal sales manager: 4',
 'research scholar: 4',
 'senior member of technical staff: 4',
 'vp of engineering: 4',
 'founder director  ceo: 4',
 'asm: 4',
 'operations analyst: 4',
 'training manager: 4',
 'scientist: 4',
 'finance intern: 4',
 'dentist: 4',
 'social worker: 4',
 'junior interior designer: 4',
 'cio: 4',
 'it support engineer: 4',
 'general manager marketing: 4',
 'director  business development: 4',
 'lead architect: 4',
 'data analytics intern: 4',
 'sr ios developer: 4',
 'head  marketing: 4',
 'development team lead: 4',
 'head of product management: 4',
 'sap consultant: 4',
 'software trainee: 4',
 'contractor: 4',
 'programmer analyst trainee: 4',
 'management executive: 4',
 'vice president of technology: 4',
 'finance analyst: 4',
 'sap bw consultant: 4',
 'consulting partner: 4',
 'credit manager: 4',
 'human resources analyst: 4',
 'head of growth: 4',
 'technical trainer: 4',
 'delivery head: 4',
 'senior project engineer: 4',
 'senior officer: 4',
 'business developer: 4',
 'event manager: 4',
 'territory sales manager: 4',
 'marketing assistant: 4',
 'head of learning and development: 4',
 'executive  human resources: 4',
 'yoga teacher: 4',
 'investment analyst intern: 4',
 'project analyst: 4',
 'customer service manager: 4',
 'director marketing: 4',
 'strategy consultant: 4',
 'front office executive: 4',
 'iit jee maths faculty: 4',
 'finance officer: 4',
 'group leader: 4',
 'process developer: 4',
 'associate director  human resources: 4',
 'chief human resource officer: 4',
 'resident engineer: 4',
 'support engineer: 4',
 'manager  it: 4',
 'trustee: 4',
 'chief operations officer: 4',
 'general manager operations: 4',
 'training  placement officer: 4',
 'senior planning engineer: 4',
 'principal secretary: 4',
 'senior delivery manager: 4',
 'managing consultant: 4',
 'audit executive: 4',
 'dy manager: 4',
 'director operations: 4',
 'sales: 4',
 'graduate engineer trainee: 4',
 'aptitude trainer: 4',
 'pm: 4',
 'chief strategy officer: 4',
 'development manager: 4',
 'regional director: 4',
 'module lead: 4',
 'director  finance: 4',
 'senior manager finance: 4',
 'senior auditor: 4',
 'finance head: 4',

In [87]:
inlist = ['founder','c']
notinlist = []# founder might be founder and ceo.
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['founder and ceo'] = apl

inlist = ['software','engineer']
notinlist = []
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['software engineer'] = apl

inlist = ['intern']
notinlist = ['international','internal']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['internship'] = apl

inlist = ['business', 'analyst']
notinlist = ['intern']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['business analyst'] = apl

inlist = ['consultant']
notinlist = []
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['consultant'] = apl

inlist = ['manager']
notinlist = ['assistant','account','asst','assit']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['manager'] = apl

inlist = ['manager','account']
notinlist = ['assistant','accounts','asst','assit']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['account manager'] = apl

inlist = ['vice', 'president']
notinlist = []
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['vice president'] = apl

inlist = ['president',]
notinlist = ['vice', 'founder','ceo']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['president'] = apl

inlist = ['software', 'developer',]
notinlist = []
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['software developer'] = apl
#------------------------------------------------------------------------------------------------------
inlist = ['cto']
notinlist = ['ecto','acto','ucto','octo','busi','inter']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['CTO'] = apl
#------------------------------------------------------------------------------------------------------
inlist = ['cmo']
notinlist = ['ecto','acto','ucto','octo','busi','inter']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['CMO'] = apl

In [88]:
titledict.keys()

dict_keys(['founder', 'co-founder', 'ceo', 'cfo', 'product manager', 'project manager', 'head-hr', 'founder and ceo', 'software engineer', 'internship', 'business analyst', 'consultant', 'manager', 'account manager', 'vice president', 'president', 'software developer', 'CTO', 'CMO'])

In [89]:
# titledict['founder and ceo'].update(titledict['founder'])
# del titledict['founder']
# titledict['founder and ceo'].update(titledict['ceo'])
# del titledict['ceo']
titledict['founder and ceo'].update(titledict['co-founder'])
del titledict['co-founder']
titledict['president'].update(titledict['vice president'])
del titledict['vice president']
titledict['software developer'].update(titledict['software engineer'])
del titledict['software engineer']
del titledict['manager']
del titledict['internship']

In [90]:
converted = pd.DataFrame.from_dict(titledict, orient='index').T
converted.to_excel('title_maps.xlsx',index = False)

In [91]:
unmap_title = set()
def map_degree(value):
    for k, v in titledict.items():
        if value in v:
            return k
    unmap_title.add(value)
    return np.nan
for col in titlecols:
  df[f'mapped_{col}'] = df[col].apply(map_degree)

In [92]:
unmap_title = {value for value in unmap_title if value == value}

In [93]:
pd.DataFrame(unmap_title,columns = ['titles']).to_excel('unmapped_titles.xlsx')

In [94]:
value_counts = {}

for col in df[titlecols].columns:
    counts = df[f'mapped_{col}'].value_counts()
    for value, count in counts.items():
        if value in value_counts:
            value_counts[value] += count
        else:
            value_counts[value] = count
value_counts

{'founder': 1632,
 'founder and ceo': 1528,
 'ceo': 1496,
 'head-hr': 910,
 'product manager': 1192,
 'cfo': 409,
 'project manager': 627,
 'president': 1019,
 'business analyst': 425,
 'consultant': 1101,
 'account manager': 318,
 'software developer': 635,
 'CMO': 20,
 'CTO': 46}

In [95]:
#T

In [96]:
converted = pd.DataFrame.from_dict(value_counts, orient='index',columns = ['counts'])
converted.index.name = 'Roles'
converted.to_excel('title.xlsx')
converted

                    counts
Roles
founder               1632
founder and ceo       1528
ceo                   1496
head-hr                910
product manager       1192
cfo                    409
project manager        627
president             1019
business analyst       425
consultant            1101
account manager        318
software developer     635
CMO                     20
CTO                     46

# industry.

In [97]:
comp_ind = [col for col in df.columns if 'company' in col and 'industry' in col]
value_counts = {}

for col in df[comp_ind].columns:
    counts = df[col].value_counts()
    for value, count in counts.items():
        if value in value_counts:
            value_counts[value] += count
        else:
            value_counts[value] = count

In [98]:
sorted_vc = {k: v for k, v in sorted(value_counts.items(), key=lambda item: item[1], reverse=True)}

In [99]:
one_row_data = pd.DataFrame([sorted_vc]).T.reset_index()
one_row_data.columns = ['Value', 'Occurrences']

# Save the transposed DataFrame to an Excel file
# one_row_data.to_excel('data.xlsx', index=False)

In [100]:
industry_mapping = {
    "it services and it consulting": "Software",
    "financial services": "Financial Services",
    "software development": "Software",
    "technology, information and internet": "Software",
    "education administration programs": "Education",
    "advertising services": "Media",
    "business consulting and services": "Professional Services",
    "information technology & services": "Software",
    "hospitals and health care": "Healthcare",
    "higher education": "Education",
    "telecommunications": "Telecommunications",
    "manufacturing": "Manufacturing",
    "retail": "FMCG",
    "real estate": "Real Estate",
    "banking": "Financial Services",
    "motor vehicle manufacturing": "Manufacturing",
    "e-learning providers": "Education",
    "non-profit organizations": "Non-profit",
    "food and beverage services": "Hospitality",
    "construction": "Construction",
    "pharmaceutical manufacturing": "Manufacturing",
    "insurance": "Financial Services",
    "staffing and recruiting": "Professional Services",
    "retail apparel and fashion": "Consumer",
    "appliances, electrical, and electronics manufacturing": "Consumer",
    "human resources services": "Professional Services",
    "transportation, logistics, supply chain and storage": "Transport, supply chain and logistics",
    "hospitality": "Hospitality",
    "industrial machinery manufacturing": "Manufacturing",
    "education management": "Education",
    "wellness and fitness services": "Professional Services",
    "travel arrangements": "Hospitality",
    "media production": "Media",
    "entertainment providers": "Media",
    "oil and gas": "Resources",
    "architecture and planning": "Planning and Design",
    "education": "Education",
    "outsourcing and offshoring consulting": "Professional Services",
    "venture capital and private equity principals": "Financial Services",
    "mining": "Resources",
    "professional training and coaching": "Professional Services",
    "wholesale building materials": "Construction",
    "chemical manufacturing": "Manufacturing",
    "computers and electronics manufacturing": "Manufacturing",
    "accounting": "Professional Services",
    "consumer services": "Consumer",
    "events services": "Hospitality",
    "textile manufacturing": "Manufacturing",
    "government administration": "Government",
    "food and beverage manufacturing": "Manufacturing",
    "design services": "Planning and Design",
    "professional services": "Professional Services",
    "automation machinery manufacturing": "Manufacturing",
    "defense and space manufacturing": "Manufacturing",
    "human resources": "Professional Services",
    "broadcast media production and distribution": "Media",
    "non-profit organization management": "Non-profit",
    "newspaper publishing": "Publishing",
    "computer and network security": "Software",
    "investment management": "Financial Services",
    "research services": "Professional Services",
    "book and periodical publishing": "Publishing",
    "machinery manufacturing": "Manufacturing",
    "renewable energy semiconductor manufacturing": "Manufacturing",
    "online audio and video media": "Media",
    "apparel & fashion": "Consumer",
    "e-learning": "Education",
    "spectator sports": "Sports",
    "airlines and aviation": "Transport, supply chain and logistics",
    "biotechnology research": "Professional Services",
    "market research": "Media",
    "legal services": "Professional Services",
    "internet publishing": "Publishing",
    "public relations and communications services": "Professional Services",
    "retail luxury goods and jewelry": "Consumer",
    "leisure, travel & tourism": "Hospitality",
    "information services": "Software",
    "investment banking": "Financial Services",
    "semiconductor manufacturing": "Manufacturing",
}

In [101]:
sdf = pd.DataFrame()
sdf

Empty DataFrame
Columns: []
Index: []

In [102]:
def indus_val(value):
  for k,v in industry_mapping.items():
    if value == k:
      return v.lower()
  else:
    return 'others'.lower()

for col in comp_ind:
  df[f'mapped_{col}'] = df[col].apply(lambda x: indus_val(x) if pd.notna(x) else x)
df[comp_ind]

,company_0_industry,company_1_industry,company_2_industry,company_3_industry,company_4_industry,company_5_industry,company_6_industry,company_7_industry,company_8_industry,company_9_industry,company_10_industry,company_11_industry,company_12_industry,company_13_industry,company_14_industry,company_15_industry,company_16_industry,company_17_industry,company_18_industry,company_19_industry
0,it services and it consulting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,veterinary services,manufacturing,food and beverage services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,wholesale,NaN,business consulting and services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,food and beverage services,banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
value_counts = {}

for col in df[comp_ind].columns:
    counts = df[f'mapped_{col}'].value_counts()
    for value, count in counts.items():
        if value in value_counts:
            value_counts[value] += count
        else:
            value_counts[value] = count
value_counts

{'others': 136670,
 'software': 5213,
 'financial services': 2307,
 'professional services': 2045,
 'manufacturing': 1789,
 'education': 1120,
 'media': 856,
 'hospitality': 477,
 'fmcg': 352,
 'consumer': 284,
 'real estate': 312,
 'healthcare': 379,
 'construction': 263,
 'telecommunications': 423,
 'resources': 234,
 'planning and design': 116,
 'publishing': 165,
 'transport, supply chain and logistics': 60,
 'sports': 33,
 'government': 42}

In [104]:
converted = pd.DataFrame.from_dict(value_counts, orient='index').T
converted.to_csv('industry.csv',index = False)

In [105]:
df.columns

Index(['name', 'location', 'org_0', 'title_0', 'job_0_duration',
       'job_0_location', 'org_0_sub_0', 'title_0_sub_0',
       'job_0_sub_0_duration', 'job_0_sub_0_location',
       ...
       'mapped_company_10_industry', 'mapped_company_11_industry',
       'mapped_company_12_industry', 'mapped_company_13_industry',
       'mapped_company_14_industry', 'mapped_company_15_industry',
       'mapped_company_16_industry', 'mapped_company_17_industry',
       'mapped_company_18_industry', 'mapped_company_19_industry'],
      dtype='object', length=833)

# size of the company

In [106]:
comp_emp_count = [col for col in df.columns if 'company' in col and 'emp' in col]
df[comp_emp_count]

,company_0_emp_count,company_1_emp_count,company_2_emp_count,company_3_emp_count,company_4_emp_count,company_5_emp_count,company_6_emp_count,company_7_emp_count,company_8_emp_count,company_9_emp_count,company_10_emp_count,company_11_emp_count,company_12_emp_count,company_13_emp_count,company_14_emp_count,company_15_emp_count,company_16_emp_count,company_17_emp_count,company_18_emp_count,company_19_emp_count
0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,3013.0,237.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,198.0,NaN,21451.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21.0,178351.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
def categorize_employee_count(emp_count): # 1-3.3-9,250-1000, 1000-5000,5000+
    if np.isnan(emp_count):
        return "Unknown"
    elif (emp_count == 1) or (emp_count < 3):
        return "1-3"
    elif emp_count <= 9:
        return "3-9"
    elif emp_count <= 50:
        return "9-50"
    elif emp_count <= 250:
        return "50-250"
    elif emp_count <= 1000:
        return "250-1000"
    elif emp_count <= 5000:
        return "1000-5000"
    else:
        return "5000+"

for col in df[comp_emp_count].columns:
  df[f'mapped_{col}'] = df[col].apply(categorize_employee_count)

In [108]:
df[comp_emp_count].shape

(7657, 20)

In [109]:
value_counts = {}

for col in df[comp_emp_count].columns:
    counts = df[f'mapped_{col}'].value_counts()
    for value, count in counts.items():
        if value in value_counts:
            value_counts[value] += count
        else:
            value_counts[value] = count
value_counts

{'Unknown': 131881,
 '5000+': 7082,
 '9-50': 2547,
 '50-250': 3070,
 '3-9': 1497,
 '1000-5000': 3144,
 '250-1000': 2798,
 '1-3': 1121}

In [110]:
converted = pd.DataFrame.from_dict(value_counts, orient='index').T
converted.to_excel('size_of_the_company.xlsx',index = False)

# institurte cols

In [111]:
df

,name,location,org_0,title_0,job_0_duration,job_0_location,org_0_sub_0,title_0_sub_0,job_0_sub_0_duration,job_0_sub_0_location,...,mapped_company_10_emp_count,mapped_company_11_emp_count,mapped_company_12_emp_count,mapped_company_13_emp_count,mapped_company_14_emp_count,mapped_company_15_emp_count,mapped_company_16_emp_count,mapped_company_17_emp_count,mapped_company_18_emp_count,mapped_company_19_emp_count
0,prasad chandran,palakkadu,swift infos,founder,126.0,thrissur,nan,NaN,0.0,,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1,tamilmani selvan,erode,vidai labs,founder,12.0,coimbatore,nan,NaN,0.0,,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
2,shruti shruti,bangalore,apnaklub,cofounder and ceo,51.0,bengaluru,nan,NaN,0.0,,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
3,siddharth jain,delhi,brewhouse tea brewing co,founder,136.0,delhi,nan,NaN,0.0,,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4,swapnil more,bangalore,alteryx india,founder,49.0,bengaluru,nan,NaN,0.0,,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7932,santhosh l,india,pongalur dairy,managing partner,74.0,,nan,NaN,0.0,,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
7933,aarokia james raja ajr,chennai,aarokia james has verified their government id,government id,0.0,,nan,NaN,0.0,,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
7935,rohit telwade,thane,warlox studios,founder ceo,29.0,vasai virar,nan,NaN,0.0,,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
7939,sunil tadepalli,delhi,nan,NaN,0.0,,nan,NaN,0.0,,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
7941,mohamed ilyas,chennai,ilyzly,chief executive officer,75.0,chennai,nan,NaN,0.0,,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown

In [112]:
college_tiers_df = pd.read_excel('Mapping of tiers of colleges.xlsx')
college_tiers_df.drop(columns = ['Institute ID','Score'],inplace = True)

In [113]:
pattern = r'^(.*?) - (.*)$'

left_values = []
right_values = []

# Iterate through the 'Name' column and conditionally extract values
for name in college_tiers_df['Name']:
    if ('[' in name) and ('-' in name):
        left, right = name.split('[')
        left_values.append(left)
        right_values.append(right)
    else:
        left_values.append(None)
        right_values.append(None)

# Add the extracted values as new columns
college_tiers_df['proper_names'] = left_values
college_tiers_df['subname and loc'] = right_values

In [114]:
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].str.replace('-','').str.strip()
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].str.replace(',','')

In [115]:
namelis = []
college_tiers_df
for name in college_tiers_df['Name']:
    if not ('[' in name):
      namelis.append(name)
    else:
      namelis.append(None)
for i in range(len(college_tiers_df['proper_names'])):
  if college_tiers_df['proper_names'][i] == None:
    college_tiers_df['proper_names'][i] = namelis[i]

C:\Users\PM\AppData\Local\Temp\ipykernel_16460\4186195815.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_tiers_df['proper_names'][i] = namelis[i]

In [116]:
college_tiers_df['subname'] = college_tiers_df['subname and loc'].str.split(']')
college_tiers_df['subname'] = college_tiers_df['subname'].apply(lambda x: x[0] if isinstance(x, list) else None)

In [117]:
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].str.replace('more details \|','')

C:\Users\PM\AppData\Local\Temp\ipykernel_16460\1888528338.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  college_tiers_df['proper_names'] = college_tiers_df['proper_names'].str.replace('more details \|','')

In [118]:
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].apply(lambda x: (re.sub(r'\biit\b', 'indian institute of technology', x) if pd.notna(x) else x))
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].apply(lambda x: (re.sub(r'\bnit\b', 'national institute of technology', x) if pd.notna(x) else x))
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].apply(lambda x: (re.sub(r'\biiit\b', 'indian institute of information technology', x) if pd.notna(x) else x))

In [119]:
institute_cols = [col for col in df.columns if 'institute' in col]
for col in institute_cols:
    df[col] = df[col].apply(lambda x: x.split('-')[0] if '-' in str(x) else x)

In [120]:
for col in df[institute_cols].columns:
  df[col] = df[col].apply(lambda x: (re.sub(r'\biit\b', 'indian institute of technology', x) if pd.notna(x) else x))
  df[col] = df[col].apply(lambda x: (re.sub(r'\bnit\b', 'national institute of technology', x) if pd.notna(x) else x))
  df[col] = df[col].apply(lambda x: (re.sub(r'\biiit\b', 'indian institute of information technology', x) if pd.notna(x) else x))
  df[col] = df[col].apply(lambda x: (x.replace(',','')) if pd.notna(x) else x)
  df[col] = df[col].apply(lambda x: (x.replace('-','')) if pd.notna(x) else x)

In [121]:
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].str.replace(',','')
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].str.lower()

In [122]:
df = df.reset_index(drop=True)

In [123]:
sdf = df[institute_cols].copy()
sdf

,institute_0,institute_1,institute_2,institute_3,institute_4,institute_5,institute_6,institute_7,institute_8,institute_9,...,institute_11,institute_12,institute_13,institute_14,institute_15,institute_16,institute_17,institute_18,institute_19,institute_20
0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,amrita vishwa vidyapeetham,adhiyamann college of engineering hosur,src memorial metric higher secondary school,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,harvard business school,indian institute of technology delhi,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,indian institute of management calcutta,delhi university,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,dy patil international school,poddar international college india,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7652,psg college of technology,mani higher secondary school,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7653,loyola college,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7654,university of mumbai,niit,st ggcollege,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7655,all india institute of medical sciences,osmania university,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7656,rome business school,hindustan university,don bosco matriculation higher secondary school,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [124]:
def corr_ins_names(col, inde): # college names mapping to proper names based on subset.
    ind_sub = {}
    value = df[col][inde]
    prl = college_tiers_df['proper_names'].unique().tolist()

    if isinstance(value, str):
        value_set = set(value.split(' '))
        
        for name in range(len(prl)):
            name_set = set(prl[name].split(' '))
            
            if name_set.issubset(value_set) or value_set.issubset(name_set):
                sub_mat_lev = len(name_set.intersection(value_set))
                maxlen = max(len(name_set), len(value_set))

                diff = abs(sub_mat_lev - maxlen)
                if not diff > 2:
                    ind_sub[name] = sub_mat_lev

        ind_sub = dict(sorted(ind_sub.items(), key=lambda item: item[1]))

        if ind_sub:
            key = list(ind_sub.keys())[0]
            sdf.at[inde, col] = prl[key]
        else:
            sdf.at[inde, col] = 'others'


institute_cols = sdf.columns.intersection(df.columns)
for col in institute_cols:
    for i in range(len(df[col])):
        corr_ins_names(col, i)

In [125]:
# # send the df index...
# # k or v (ind of proper name, sub match level)
# # lessthan 2 set to None

# def corr_ins_names(col,inde):
#     ind_sub = {}
#     value = df[col][inde]
#     prl = college_tiers_df['proper_names'].tolist()

#     if isinstance(value, str):
#       for name in range(len(prl)):
#         if (set(prl[name].split(' ')).issubset(set(value.split(' ')))) or (set(value.split(' ')).issubset(set(prl[name].split(' ')))):

#           sub_mat_lev = len((set(prl[name].split(' '))).intersection(set(value.split(' '))))
#           maxlen = max( len(set(prl[name].split(' '))), len(set(value.split(' '))) )

#           diff = abs(sub_mat_lev - maxlen)
#           if not diff > 2:
#             ind_sub.update({name:sub_mat_lev})
#       ind_sub = dict(sorted(ind_sub.items(), key=lambda item: item[1]))
#       if ind_sub != {}:
#         key = list(ind_sub.keys())[0]
#         sdf[col][inde] = prl[key]
#       else:
#         sdf[col][inde] = 'others'

# for col in sdf[institute_cols].columns:
#   for i in range(len(df[institute_cols][col])):
#     corr_ins_names(col,i)

In [126]:
odf = df[institute_cols].copy()

In [127]:
for col in sdf.columns:
  odf[f'mapped_{col}'] = sdf[col]
for col in sdf.columns:
  odf[col] = sdf[col] # orginal cols here are for tier mappings.

In [128]:
odf

,institute_0,institute_1,institute_2,institute_3,institute_4,institute_5,institute_6,institute_7,institute_8,institute_9,...,mapped_institute_11,mapped_institute_12,mapped_institute_13,mapped_institute_14,mapped_institute_15,mapped_institute_16,mapped_institute_17,mapped_institute_18,mapped_institute_19,mapped_institute_20
0,others,others,others,others,others,others,others,others,others,others,...,others,others,others,others,others,others,others,others,others,others
1,amrita vishwa vidyapeetham,others,others,others,others,others,others,others,others,others,...,others,others,others,others,others,others,others,others,others,others
2,others,indian institute of technology delhi,others,others,others,others,others,others,others,others,...,others,others,others,others,others,others,others,others,others,others
3,indian institute of management,university of delhi,others,others,others,others,others,others,others,others,...,others,others,others,others,others,others,others,others,others,others
4,others,others,others,others,others,others,others,others,others,others,...,others,others,others,others,others,others,others,others,others,others
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7652,others,others,others,others,others,others,others,others,others,others,...,others,others,others,others,others,others,others,others,others,others
7653,loyola college,others,others,others,others,others,others,others,others,others,...,others,others,others,others,others,others,others,others,others,others
7654,mumbai university,others,others,others,others,others,others,others,others,others,...,others,others,others,others,others,others,others,others,others,others
7655,institute of medical sciences,osmania university,others,others,others,others,others,others,others,others,...,others,others,others,others,others,others,others,others,others,others
7656,others,others,others,others,others,others,others,others,others,others,...,others,others,others,others,others,others,others,others,others,others

In [129]:
def tier_map(col,inde):
  value = odf[col][inde]
  prl = college_tiers_df['proper_names'].tolist()
  if isinstance(value, str):
      for name in range(len(prl)):
        if value == prl[name]:
          odf[col][inde] = college_tiers_df['Tier'][name]
          return
      else:
        odf[col][inde] = 4

for col in odf[institute_cols].columns:
  for i in range(len(odf[institute_cols][col])):
    tier_map(col,i)

In [130]:
odf.rename(columns = {col:f'tier_mapping_{col}' for col in odf[institute_cols].columns},inplace= True)

In [131]:
# for col in df[institute_cols].columns:
#   odf[f'tiers_{col}'] = df[col]

In [132]:
# for i in df[institute_cols]:
#   print(df[i].unique())

In [133]:
for col in odf.columns:
  df[col] = odf[col]

In [134]:
df.columns

Index(['name', 'location', 'org_0', 'title_0', 'job_0_duration',
       'job_0_location', 'org_0_sub_0', 'title_0_sub_0',
       'job_0_sub_0_duration', 'job_0_sub_0_location',
       ...
       'mapped_institute_11', 'mapped_institute_12', 'mapped_institute_13',
       'mapped_institute_14', 'mapped_institute_15', 'mapped_institute_16',
       'mapped_institute_17', 'mapped_institute_18', 'mapped_institute_19',
       'mapped_institute_20'],
      dtype='object', length=895)

In [135]:
rename_mapping = {1: 'tier-1', 2: 'tier-2', 3: 'tier-3', 4: 'tier-4'}
df[institute_cols] = df[institute_cols].replace(rename_mapping)

In [136]:
value_counts = {}

for col in df[institute_cols].columns:
    counts = df[f'tier_mapping_{col}'].value_counts()
    for value, count in counts.items():
        if value in value_counts:
            value_counts[value] += count
        else:
            value_counts[value] = count
value_counts

#{'tier-4': 3251, 'tier-1': 792, 'tier-3': 472, 'tier-2': 480}

{4: 155994, 1: 1808, 3: 1474, 2: 1521}

In [137]:
converted = pd.DataFrame.from_dict(value_counts, orient='index').T
rename_mapping = {1: 'tier-1', 2: 'tier-2', 3: 'tier-3', 4: 'tier-4'}
converted.rename(columns = rename_mapping,inplace = True)
converted.to_excel('institute.xlsx',index = False)

In [138]:
converted

   tier-4  tier-1  tier-3  tier-2
0  155994    1808    1474    1521

# Degree cols correction

In [139]:
degree_cols = [col for col in df.columns if 'digree' in col and 'duration' not in col]
# sdf['all_degree'] = df[degree_cols].apply(lambda row: ','.join(row.dropna().astype(str)), axis=1)

# degrees = []
# for i in sdf['all_degree']:
#   for j in i.split(','):
#     degrees.append(j)
# print(len(degrees))

# degree_counts = defaultdict(int)

# for degree in degrees:
#     degree_counts[degree] += 1

# # Step 3: Sort the names based on their counts
# sorted_degrees = sorted(degree_counts.keys(), key=lambda degree: degree_counts[degree], reverse=True)

In [140]:
degrees = set()
for ind,val in df[degree_cols].iterrows():
    val = val.to_list()
    degrees.update(set(val))
len(degrees)

7807

In [141]:
degree_dict = {
    'MBA': {'m.b.a.', 'master of business administration - mba', 'pgdbm', 'pgdm -marketing', 'mba.', 'mba finance', 'pgdm-abpm', 'pgdm', 'post graduate diploma in business management', 'master of business administration', 'post graduate program in management', 'mba - master of business administration', 'm.b.a', 'mba for executive', 'master in business administration', 'pgpm', 'post graduate programme in management', 'gold medalist m.b.a', 'mba'},
    'BE': {'bachelor of technology', 'be', 'bachelor of engineering - be', 'b. tech', 'b tech', 'b.e', 'bachelor of engineering', "bachelor's in engineering", 'b.tech', "bachelor's of technology", 'bachelor of technology - b. tech', 'b- tech', 'btech', 'bachelor of technology - btech', 'be - bachelor of engineering', 'b.e.', 'b.tech.', 'b. tech.'},
    # 'Bachelors Degree': {'bachelors', 'undergraduate', 'bachelor’s degree', "bachelor's degree"},
    'BCOM': {'bachelor of commerce ', 'b com', 'bcom', 'bachelor of commerce with honours - b.com', 'commerce', 'b.com.', 'b.com', 'bachelor of commerce', 'bcom - bachelor of commerce', "b'com", 'bachelor of commerce - bcom', 'b. com ', 'b. com', 'business/commerce'},
    'BBA': {'bachelor of business administration - bba', 'bachelor of business administration', 'bba', 'bba - finance and international business'},
    'CA': {'accounting and finance', 'chartered accountancy', 'chartered accountant', 'ca', 'chartered accountants', 'c.a.'},
    # "Masters Degree": {'master’s degree', "master's degree"},
    'PGDBA': {'pgdba'},
    'MTECH': {'master of technology', 'mtech', 'm.tech.', 'm.tech', 'master of technology - mtech'},
    'MCOM': {'master of commerce', 'm.com', 'b com post graduate'},
    'BA': {'business administration and management', 'bachelor of arts', 'ba', 'bachelor of arts - ba', 'ba programming', 'b.a.'},
    'MA': {'master of arts', 'm.a.', 'm.a. economics', 'master of arts - ma'},
    'MCA': {'master of computer applications - mca', 'master of computer applications', 'm.c.a', 'mca'},
    'BCA': {'bachelor of computer applications', 'bachelor of computer application', 'bachelor of computer aplication', 'bca', 'bachelor of computer application- b.c.a', "bachelor's of computer application", 'computer science'},
    'BSC': {'bsc', 'bachelor of science', 'b. sc.', 'bsc.it', 'b.sc.', 'bachelor of science - bs', 'b.sc', 'bachelor of science - b. sc.'},
    'MSC': {'msc in energy and resource management', 'master of science', 'msc - it', 'm.sc.', 'm.sc'},
    'MS': {'ms', 'master of science - ms', 'msc', 'msc in international construction management', 'm.s.'},
    'Bachelor of Laws': {'bachelor of laws - llb', 'bachelor of laws'},
    'Master of Laws': {'master of laws - llm'}
}

In [142]:
anyinlist = ['busi']
allinlist = ['mast','admi']
notinlist = []
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['MBA'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['mba']
allinlist = []
notinlist = ['imba','umb','mbae']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['MBA'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['be']
allinlist = []
notinlist = ['imba','umb','mbae','bed','mber','bel','bec','beh','ber','bet','bep','mbe','bey']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['BE'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['bach']
allinlist = ['engi']
notinlist = ['civil','chemi','compu','mechan']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['BE'].update(apl)
#------------------------------------------------------------------------------------------------------
# anyinlist = ['bach']
# allinlist = ['degre']
# notinlist = ['econo','engin','phar','scien','b.ed','mech']
# # notinlist.extend( list(skills_edited['C Programming Language']))
# # notinlist.remove('c')

# apl = set()
# for skill in degrees:
#     if isinstance(skill,str):    
#         if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
#             apl.add(skill)
# apl
# degree_dict['Bachelors Degree'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['b']
allinlist = ['com']
notinlist = ['econo','engin','phar','scien','b.ed','mech','comp','mcom','m com','ybco','commu','m.com']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['BCOM'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['bba']
allinlist = []
notinlist = []
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['BBA'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['ca ','char']
allinlist = []
notinlist = ['mca','bca','cs','dca','analy']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['CA'].update(apl)
#------------------------------------------------------------------------------------------------------
# anyinlist = ['maste',]
# allinlist = ['deg']
# notinlist = ['mca','bca','cs','dca','analy','comp']
# # notinlist.extend( list(skills_edited['C Programming Language']))
# # notinlist.remove('c')

# apl = set()
# for skill in degrees:
#     if isinstance(skill,str):    
#         if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
#             apl.add(skill)
# apl
# degree_dict["Masters Degree"].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['pgdba',]
allinlist = []
notinlist = ['mca','bca','cs','dca','analy','comp']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['PGDBA'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['m',]
allinlist = ['tech']
notinlist = ['mca','bca','cs','dca','analy','comp','ma','am','otec','dm','em','sme','ms','mba','men','mic']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['MTECH'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['m','master']
allinlist = ['com']
notinlist = ['b','bat','comp','grad','math','cial','xii','comn','comu','commu','ecom','12th','high','isc','commi','shri','www.']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['MCOM'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['ba','art']
allinlist = ['ba']
notinlist = ['eba','com','ban','bal','bat','sci','bba','be','bar','bas','bay','mba','bam','pba','dba','bai','bab','sba','y ba','engi','tech',
             'mark','desi','busi','phar','agri','law','journal','dent','arch','deg','app','hosp','anim','edu','eco','medi','hote','lab','manag','corp',
             'soci','plan','acco','ocu','auto','bacca','tour','mast']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['BA'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['ma','art']
allinlist = ['ma']
notinlist = ['eba','com','ban','bal','bat','sci','bba','be','bar','bas','bay','mba','bam','pba','dba','bai','bab','sba','y ba','engi','tech',
             'mark','desi','busi','phar','agri','law','journal','dent','arch','deg','app','hosp','anim','edu','eco','medi','hote','lab','manag','corp',
             'soci','plan','acco','ocu','auto','bacca','tour','oma','cma','man','ama','mad','mat','ima','mac','coac','mak','mar','pma','max','dma','pma',
             'may','nlp','phil','rma','gma','neg','mah','sal','dir','inter','slo','apr','fi','fa','heal','immu','publi','hr','it','tequ','execut','spec']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['MA'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['mca','compu']
allinlist = []
notinlist = ['bach','bsc','b.sc','b sc','info','engi','12','advan','tech','scien','cloud','netwo','math','human',]
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['MCA'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['ca','compu']
allinlist = ['b']
notinlist = ['info','engi','12','advan','tech','scien','cloud','netwo','math','human','edu','mass','memb','deci','bcom','b.com',
             'b sc','b.sc','commu','inqu','interi','oca','car','cal','cai','cam','cate','cert','can','sca','cap']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['BCA'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['scie','sc']
allinlist = ['b']
notinlist = ['bcom','b.com','msc','m sc','m.sc',
             'commu','inqu','interi','oca','car','cal','cai','cam','cate','cert','can','sca','cap','x','sch','basc','b.r',
             'data','19','ssc','subj','cious','logi']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['BSC'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['scie','sc']
allinlist = ['m']
notinlist = ['bcom','b.com','msc','bsc','b.sc','b sc','tech','12','bach','phd','diplo',
             'commu','inqu','interi','oca','car','cal','cai','cam','cate','cert','can','sca','cap','x','sch','basc','b.r',
             'data','19','ssc','subj','cious','logi','mme']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['MSC'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['scie','sc','ms']
allinlist = ['ms']
notinlist = ['bcom','b.com','msc','bsc','b.sc','b sc','tech','12','bach','phd','diplo',
             'commu','inqu','interi','oca','car','cal','cai','cam','cate','cert','can','sca','cap','x','sch','basc','b.r',
             'data','19','ssc','subj','cious','logi','mme','clai','ems','ams','hms','msw','mms','bms','msb','mse','msf','msm','mso']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['MSC'].update(apl)
#------------------------------------------------------------------------------------------------------
degree_dict['MSC'].update(degree_dict['MS'])
del degree_dict['MS']
#------------------------------------------------------------------------------------------------------
anyinlist = ['law','llb']
allinlist = []
notinlist = ['llbr','mast','pg','post']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['Bachelor of Laws'].update(apl)
#------------------------------------------------------------------------------------------------------
anyinlist = ['law','llm','mlb']
allinlist = []
notinlist = ['llbr','bach','dipl','com','inter','secon','law/tax']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
degree_dict['Master of Laws'].update(apl)
#------------------------------------------------------------------------------------------------------

In [143]:
anyinlist = ['law','llm','mlb']
allinlist = []
notinlist = ['llbr','bach','dipl','com','inter','secon','law/tax']
# notinlist.extend( list(skills_edited['C Programming Language']))
# notinlist.remove('c')

apl = set()
for skill in degrees:
    if isinstance(skill,str):    
        if any(word in skill for word in anyinlist) and all(word not in skill for word in notinlist) and all(word in skill for word in allinlist):
            apl.add(skill)
apl
# degree_dict['Master of Laws'].update(apl)

{'aca acs aicwa finance governance corporate law',
 'acs indian corporate laws and secretarial practice',
 'ba hons law  economics',
 'ba llb labour laws',
 'ballb law',
 'bank and financial management banking corporate finance and securities law',
 'bba llb business and law',
 'bgl law',
 'ca accounts tax costing and law',
 'caiib banking corporate finance and securities law',
 'chartered accountant accounting audit tax law',
 'chartered accountant accounts finance audit business laws',
 'chartered accountant accounts finance corporate law direct  indirect taxes costing',
 'chartered accountant acocunts audit taxation law',
 'chartered accountant finance banking audit risk securities laws',
 'chartered accountant financeaccountslaw',
 'chartered accountant financial accounting  reporting gaap financial management corporate laws direct  indirect tax',
 'chartered accountant financial managementcorporate lawsauditingtaxationbusiness managementcost control',
 'cpa accounting tax regulation costing laws',
 'cs corporate law',
 'cs corporate laws',
 'dllw labour law and welfare',
 'doctor of philosophy phd labor laws and industrial relations',
 'fca accounts finance tax law',
 'icwa accounts tax costing lawetc',
 'l l b labour law  criminal law',
 'labour law labour laws',
 'law',
 'law ballb',
 'llb it and cyber law',
 'llb law',
 'llbgen general law',
 'master in business law law',
 'master of business administration  mba banking corporate finance and securities law',
 'master of business administration mba banking corporate finance and securities law',
 'master of business administration mba hr ir  corporate laws',
 'master of business laws law',
 'master of business laws mbl',
 'master of labour welfare mlw personnel mgmt ir labour laws',
 'master of law labour law',
 'master of laws  llm law',
 'master of laws llm intellectual property law',
 'master of laws llm labor and industrial relations',
 'master of laws llm law',
 'masters degree business laws',
 'masters degree in corp laws laws',
 'masters degree law',
 'masters in business law business law',
 'masters in business laws',
 'masters in law llm corporate and industrial law',
 'mba banking corporate finance and securities law',
 'mba masoc llb phddce mie pgdm law managemant engg',
 'mll  lw labour laws',
 'mlllw labour law',
 'mpm  dll  lw hr  labour laws',
 'pgdbf banking corporate finance and securities law',
 'pgdbo banking corporate finance and securities law',
 'pgdipr law',
 'pgdm in medico legal system health law',
 'ph d sociology and law',
 'post graduate degree in hr  labour laws',
 'tax lawtaxation'}

In [144]:
degree_dict.keys()

dict_keys(['MBA', 'BE', 'BCOM', 'BBA', 'CA', 'PGDBA', 'MTECH', 'MCOM', 'BA', 'MA', 'MCA', 'BCA', 'BSC', 'MSC', 'Bachelor of Laws', 'Master of Laws'])

In [145]:
converted = pd.DataFrame.from_dict(degree_dict, orient='index').T
converted.to_csv('converted.csv',index = False)

In [146]:
df[df['name']=='siva muthukaruppan'][[col for col in df.columns if 'digree' in col ]]

,digree_0,digree_0_duration,digree_1,digree_1_duration,digree_2,digree_2_duration,digree_3,digree_3_duration,digree_4,digree_4_duration,...,digree_16,digree_16_duration,digree_17,digree_17_duration,digree_18,digree_18_duration,digree_19,digree_19_duration,digree_20,digree_20_duration
25,bachelor of engineering be mechanical enginee...,Less than 1 year,bachelor of engineering be mechanical enginee...,Less than 1 year,nan,Less than 1 year,nan,Less than 1 year,nan,Less than 1 year,...,nan,Less than 1 year,nan,Less than 1 year,nan,Less than 1 year,nan,Less than 1 year,nan,Less than 1 year

In [147]:
for i in degree_dict['BE']:
    print(i)

bachelor of technology  btech aerospace engineering
be hons chemical
bengg electronics
be electronic and communication engineering
xii  west bengal council of higher secondary education science
bachelor of technology  btech engineering
bachelor of technology btech ocean engineering and naval architecture
bachelor of engineering  be electronics and instrumentation engineering
bachelor of engineering information science
be electronics  instrumentation
bachelor of technology btech electronics and instrumentation engineering
be mech engineering
bachelor of business economics bbe international finance  international business
bachelor of engineering be electronics and communication
bachelor of engineering electrical and electronics
b. tech.
be electrical and electronics
be computer science
be electrical engineering
bachelor of engineering be mumbai university information technology
be  civil engineering
be electronics
bachelor of technology  btech electronics and communications engineering
bachelors degree electronics and communication engineering
bachelor of engineering  be apparel and textiles
bachelor of technology btech production engineering
degree of be information technology
bachelor of engineering  be computer software engineering
be mech engg
be mechanical
bachelor of engineering  be data processing
be electrical and electronics engg
be  bachelor of engineering electrical and electronics engineering
bachelors degree  masters degree in engineering design engineering design
be computer sc  engg
avinashilingam university be printing technology
bachelors degree mechatronics robotics and automation engineering
be instrumentation and control
bachelor of engineering  be electronics and communication engineering
be electrical
b.tech
be electrical electronic and communications engineering technologytechnician
bachelor of technology  btech telecommunications engineering
bachelors degree instrumentation  control engineering
be computer science engineering
bachelor of technology  btech electronics and communication engineering
be eee
be engineering
be mechanical engineering industrial and product design
btech  bachelor of technology electronics and communications engineering
bachelor of engineering information science engineering
bachelor of technology  btech electronics and telecom engineering
be i t engineering
be industrial production
bachelor of engineering  be electronics and instrumentation technology
bachelor of engineering be polymerplastics engineering
bachelor of technology btech metallurgical  materials engineering
be  hons   m sc  hons  5 years integrated degree engineering  science
be ece
bachelor of engineering  be production  industrial
bachelors in engineering be mechanical engineering
bachelor of engineering be  industrial electronicsinstrumentation electronic and telecommunications
bachelor of engineering  be instrumentation and electronics
be mechanical engg
bachelor of engineering be electronics and communications engineering
be hons electrical and electronics engineering
bachelor of engineering be ece
be mechanical welding engineering technology
be production engineering
bachelor of technology engineering
bachelor of technology metallurgical engineering and material science
bachelor of engineering  be electronic and telecommunication
be electonics
be mechatronics
bachelor of engineering be production engineering
bachelors degree electrical and electronics engineering
bachelors in technology electronics and communications engineering
bachelor of engineering  be automobile engineering
engineers degree bachelor of technology
be textiles
be english
bachelor of textile engineering textile engineering
bebachelors electronics engineering
be  bachelor of engineering electrical electronics and communications engineering
bachelors degree electrical electronics and communications engineering
be computer science and engineering
bachelor of engineering be electrical electronics and communications engineering
bachelor of engineering  be electronics  communications
bachelor of engineering  be electronics and telecommunication
bachelors degree in engineering electrical engineering
b tech
bachelor of engineering electrical engineering
be instumentation and control
bachelor of technology  btech electronics engineering
be computer engineering
bachelor of engineering  be aerospace aeronautical and astronauticalspace engineering
bachelor of technology btech metallurgical engineering and material sciences
bachelor of technology  btech textile sciences and engineering
bachelor of engineering  be electrical electronic and communications engineering technologytechnician
be mech adv engg elecref acpgdcaworksproceduresadv bridging ieds etc operations and maintenance  management of hi tech installations
bachelor of engineering be electrical engineering
bscbe electrical technology  electronics
bachelor of technology btech electronic and communications engineering technology
bachelor of engineering be aerospace aeronautical and astronauticalspace engineering
bachelor of engineering  be minings
bachelor of engineering be computer and information sciences and support services
be  bachelor of engineering electronics and communications engineering
bachelor of engineering be textile technology
be production
bachelors degree aeronauticalaerospace engineering technologytechnician
bachelor of technology  btech automobile engineering
bachelor of engineering electronics  communications
bachelor of engineering electronics and communications engineering
be biotechnology
bachelors degree electrical engineering
bachelor of engineering  be be computer
be information technology
bachelor of engineering be international businesstradecommerce
bachelors degree engineeringindustrial management
bachelor of engineering beng
bachelor of engineering be computer science and engineering
bachelor of engineering be production
bachelor of engineering  be information sciencestudies
bachelor of engineering be electronics and communication engineering
bachelor of engineering be instrumentation technology
be electrical and electronics engineering
bachelor of engineering  be hons chemical engineering
be chemical
be production  industrial engineering
bachelor of engineering be electrical
be electrical  electronics engineering
bachelor of engineering electronics  communication
bachelor of technology btech engineering
bachelor of engineering be manufacturing engineering
be - bachelor of engineering
bachelors degree electronics  telecommunication engineering
bachelor of engineering beinformation technology computer software engineering
bachelor of technology btech electronics and communication engineering
bems homeopathic medicinehomeopathy
be computers information technology
be computer engineering it
bachelors degree industrial and production engineering
bachelor of engineering electronics and electrical communications
bachelor of technology
bachelor of technology  btech electronics  communications engineering
be mechanical engineer  mechanical engineering
be  bachelor of engineering information technology
bachelor of engineering be mechanical engineering
bachelor of engineering civil be
be electronics and communication
bachelor of engineering  be mechanical engineering
bachelor of engineering  be computer programming specific applications
be  bachelor of engineering electrical
bachelor of engineering be computer science
bachelors degree electronics and instrumentation engineering
bachelor of technology btech instrumentation and control engineering
be electronics  communications
be cse
bachelor of engineering  be electronics and telecommunications
bachelor of engineering be mechnical engineering
bachelor of engineering  be information technology
be electronics and communications engineering
bachelor of technology aerospace engineering
be instrumentation technology
b. tech
bachelor's of technology
bachelor of engineering beng information technology
bachelor of technology  btech power engineering
bachelor of engineering electronics and communication engineering
bachelor of engineering beng electrical electronics and communications engineering
bemechanical mechanical engineering
bachelor of engineering be metallurgical engineering
be mechanical engineering
be bachelor of engineering computer science
be  electronics and communication engineering
bachelor of engineering  be ece
bachelor of engineering be hons computer science
bachelors of engineering electronics  communications
bachelor of science bs electrical engineering
bachelor of engineering  be cse
bachelor of engineering  be computer science
be  bachelor of engineering electronics and communication engineering
bachelor of engineering be electrical and electronics engineering
bachelors degree be ece
bachelor of technology  btech electronics and instrumentation engineering
bachelor of engineering  be computer science and engineering
bachelor of engineering be industrial engineering
bachelor of engineering  be 5 year program mechanical engineering
be ec electronics and commuunication
b.e.
bachelor of engineering be textiles
bachelors of engineering hons electrical and electronics engineering
bachelor of engineering  be electronics
be computer technology
bachelor of engineering  be computers
btech  bachelor of technology electronics and communications engineering technology
bemechanical engineering  mechanical engineering
be electronics and communications
bachelor of engineering be automobile engineering
bachelor of engineering  be electronics and communications engineering
bachelor of engineering  be computer science engineering
bachelor of engineering be mechanical
bachelor of engineering electronics and communications
bachelor of engineering be comunter science  engineering
be computer scinence and engineering
bachelor of technology btech aerospace aeronautical and astronautical engineering
bachelor of engineering beng mechanical engineering
bachelor of engineering  be electrical and electronics engineering
apprenticeship training food  beverage
bachelor of engineering electronics and communication
bachelor of engineering  be mechatronics robotics and automation engineering
bachelor of technology btech naval architecture and ocean engineering
bachelor of engineering  be master of business administration in it
bachelor of technology btech electrical electronics and communications engineering
be elect electrical engineering
bachelor of engineering  be aeronauticsaviationaerospace science and technology general
bachelor of engineering  be instrumentation technology
bachelor of engineering  be electronics and instrumentation
bachelor of technology - b. tech
bachelor of engineering be mechatronics robotics and automation engineering
bachelor of technology  btech electrical and electronics engineering
be industrial  production engineering
delhi university be  industrial engineering  mechenical engineering dce  msc tqm  mba operations
bachelor of engineering be electronics and communications
beng mechanical  production
bachelor of engineering electrical
masters and bachelors degree aerospace aeronautical and astronautical engineering
bachelor of engineering electrical and electronics engineering
bachelor of engineering beng softwareit
btech
master of science honors in economics bachelors of engineering honors in electronics
be instrumentation  control
bachelor of engineering be chemical engineering
bachelor of engineering  be engineering
bachelors degree electronics and communications engineering
bachelor of technology electronics and communication engineering
bachelors honors of engineering  electrical and electronics
bachelors degree mining and mineral engineering
bachelor of engineering  be computer engineering
it be
bachelor of engineering be information sciencestudies
bachelor of technology btech electronics and electrical communications engineering
bachelor of engineering be electonics and communication
bachelor of engineering  be biotechnology
bachelor of engineering  be computer and information sciences general
be computers
bachelors degree in engineering electronics  communications engineering
bachelor of engineering - be
bachelor of engineering be cvil engineering
bachelor of engineering be computer science  master of science msc honors  economics
bachelor of engineering  be electronics and instrumentaion engineering
be electronics  communications engg
bachelor of engineering be electronics and telecommunications
bachelor of engineering be computer science  engineering
bachelor of engineering  be electronics and communication
bachelor of technology btech electronics engineering
bachelor of engineering beng industrial and production engineer
bachelor of technology btech agricultural and food engineering
human resource management management concepts competency mapping compensation  benefits organisational development
be industrial
bachelor of engineering
be  distinction computer science and engineering
be electrical electronics and communications engineering
bachelor of engineering be electronics
be computer
be it
bachelor of architecture barch architectural engineering
bachelor of technology btech biological science and bio engineering minor in management
bachelor of technology  btech electrical engineering
bachelors degree engineering
bachelor of technology btech merallurgical and materials engineering
bachelors of engineering electronics
bachelor of engineering be aeronauticalaerospace engineering technologytechnician
bachelor of technology  btech electrical electronics and communications engineering
b.tech.
be electronics  communication engineering
bachelor of technology btech materials engineering
bachelor of engineering  be production engineering and management
bachelor of engineering be civil engineering
bachelor of engineering  be
bachelor of engineering  be bachelor of engineering
be information science
bachelor of engineering information science and engineering
bachelors degree electronics engineering
bachelor of technology  btech energy and environmental engineering
bachelor of technology electrical electronics and communications engineering
be computer science and technology
bachelors engineering degree metallurgical engineering
bachelor of engineering  be civil engineering
bachelor of technology btech electronics and communications engineering
bachelor of engineering  be electrical electronics and communications engineering
dual degree be in computer science msc in physics
be electrical electrical engineering
bachelors of engineering honors electrical  it control  automation
be mech
bachelor of engineering be automobile
bachelor of engineering be computer technologycomputer systems technology
bachelor of engineering be electronics and telecommunication
bachelor of engineering  be instrumentation and control engineering
bachelor of engineering  be computer and information sciences and support services
be mba marketing and digital marketing
bachelor of engineering beng computer engineering
bachelor of engineering bephdfie alternate energy management
bachelor of technology btech aerospace engineering
bachelor of engineering be industrial and production engineering
bachelor of engineering beng electrical and electronics engineering
bachelor of engineering be electrical electronic and communications engineering technologytechnician
bachelor of engineering be industrial engineering and management
master of business administration mba mba finance christ bengaluru and international business asian international college singapore
bachelor of technology btech automotive engineering technologytechnician
be ag agricultural engineering
bemech mechanical
be civil engineering
be computer science  engineering
be chemical engineering
bachelor engineering
be civil
be metallurgy
be it information technology
be electronics and electrical comm engg
be mechanical engineer  mechanical engineer
bachelor of technology btech electronics  communication engineering
bachelor of technology btech metallurgical engineering
be hons electrical  electronics engineering
bachelor of engineering be
be polymers
bachelors degree mechatronics engineering
b- tech
bachelor of engineering  be electronics engineering
bachelor of engineering be computer science engineering
bachelor of engineering electrical electronic and communications engineering technologytechnician
be iem
bachelor of engineering be electronics and telecommunication engineering
bachelors degree telecommunications engineering
bachelor of engineering be eece
bachelor of technology btech electrical and electronics engineering
bachelor of engineering be mechanical engineering gold medalist university rank holder
bachelor of engineering  be strategic thinking
be
bachelor of engineering engineering
be electrical eng
bachelor of engineering beng honours
be  bachelor of engineering computer science
bachelor's in engineering
bachelor of engineering beng electronics and communication
2010 be cse
bachelor of engineering in electronics and communication engineering  be ece electronics communication engg
bachelor of engineering  be electrical engineering
bachelor of engineering  be chemical engineering
be  bachelor of engineering electronics and communication
bachelor of engineering  be telecommunications engineering
bachelor of engineering be computer software engineering
bachelor of engineering  be environmental studies
btech  bachelor of technology biomedicalmedical engineering
bachelor of technology  btech industrial  systems engineering
bachelors degree electronic and instrumentation engineering
bachelor of technology electrical and electronics engineering
be  mechanical engineering
bachelor of technology  btech electrical electronic and communications engineering technologytechnician
bachelor of engineering  be electronics and telecommunications engineering
gold medalist be honours
bachelor of engineering  be sandwich mechanical engineering
bachelor of engineering be electronics and telecommunications engineering
bachelor of engineering electronics and telecommunication
b.e
bachelors in engineering hons electronics and instrumentation
bachelor of engineering be information technology
be industrail electronics
bachelor of engineering be instrumentation and control engineering
bachelor of engineering  be mechatronics
be electrical engg
bachelor of engineering  be mechanical
be management from irma
bachelor of technology  btech biomedical engineering
bachelor of technology btech optimizations in engineering designmanagementindian economy
be electronics  communication
be computer science and engg
be chemical engineering pharmaceutical specialization
bachelor of engineering  be automobile
bbe ecommerceelectronic commerce
be instrumentation tech
bachelor of engineering beng civil engineering
be ec electronis  communication
be electronics  instumentation engineering
bachelor of technology btech environmental engineering technologyenvironmental technology
bachelor of engineering be computer engineering
bebachelor of engineering mechanical engineering
bachelor of engineering be electronics engineering
bachelor of technology  btech  electrical and electronics engineering
bachelor of engineering beng computer science
bachelor of engineering electronics
be automobile
bachelor of engineering be electronics  telecommunication
bachelor of technology btech electrical engineering
bachelor of engineering be automotive engineering technologytechnician
bachelors degree industrial engineering
bachelor of engineer electornics and communication
bachelor of technology - btech
bachelor of technology btech electrical engineer
bachelor of engineering beng electronics engineering
leadership leadership best practices
be electronics and communication engineering
be biomedical engineering
bachelor of engineering be electrical  electronics
bachelor of engineering beng electronics and communications engineering

In [148]:
# for k,v in degree_dict.items():
#   degree_dict[k] = set([x.lower() for x in v])# make values to lowercase.

In [149]:
def map_degree(value):
    for k, v in degree_dict.items():
        if value in v:
            return k
    return 'others'
for col in degree_cols:
  df[f'mapped_{col}'] = df[col].apply(map_degree)

In [150]:
# dic = {}
# def count_degree(value):
#     for k, v in degree_dict.items():
        
#         if v.lower() == value:
#             dic[k] = dic.get(k, 0) + 1
# df[degree_cols].applymap(count_degree)
# dic
mapdegree = [i for i in df.columns if "digree" in i and 'map' in i]
value_counts = df[mapdegree].stack().value_counts().to_dict()
converted = pd.DataFrame.from_dict(value_counts, orient='index', columns=['Count'])
converted.index.name = "degree"
converted.to_excel('degree.xlsx')

In [151]:
df.shape

(7657, 916)

In [152]:
# c = 0
# for degree in cl:
#   c += 1
#   print(f"{degree} - {degree_counts[degree]}")

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7657 entries, 0 to 7656
Columns: 916 entries, name to mapped_digree_20
dtypes: float64(75), object(841)
memory usage: 53.5+ MB

In [154]:
columns_with_sets = [col for col in df.columns if df[col].apply(type).eq(set).any()]

for i in columns_with_sets:
  rows_with_sets = df[df[i].apply(type).eq(set)][columns_with_sets]
  print(rows_with_sets)

In [155]:
# value_counts = {}

# for col in df[degree_cols].columns:
#     counts = df[f'mapped_{col}'].value_counts()
#     for value, count in counts.items():
#         if value in value_counts:
#             value_counts[value] += count
#         else:
#             value_counts[value] = count
# value_counts

In [156]:
# df.drop_duplicates(inplace=True)
# df.reset_index(drop=True, inplace=True)
# df.to_excel('Linkedin_cleaned.xlsx',index = False)

In [157]:
df.shape

(7657, 916)

# degree cols done.

In [158]:
df.to_csv('checkp1.csv',index = False)

# Checkpoint

In [159]:
df=pd.read_csv('checkp1.csv')

C:\Users\PM\AppData\Local\Temp\ipykernel_16460\2479541234.py:1: DtypeWarning: Columns (6,7,9,10,11,13,14,15,17,18,19,21,22,23,25,26,27,29,30,31,33,34,35,37,38,39,41,42,43,45,50,51,53,54,55,57,58,59,61,62,63,65,66,67,69,70,71,73,74,75,77,78,79,81,82,83,85,86,87,89,94,95,97,98,99,101,102,103,105,106,107,109,110,111,113,114,115,117,118,119,121,122,123,125,126,127,129,130,131,133,154,155,157,158,159,161,162,163,165,166,167,169,170,171,173,174,175,177,178,179,181,182,183,185,186,187,189,190,191,193,202,203,205,206,207,209,210,211,213,214,215,217,218,219,221,222,223,226,227,230,231,234,235,237,238,239,241,242,243,245,246,247,249,250,251,253,254,255,262,263,265,266,267,269,270,271,273,274,275,277,278,279,281,282,283,285,286,287,289,290,291,293,294,295,297,298,299,301,302,303,305,306,307,310,311,314,315,317,318,319,321,322,323,325,326,327,329,330,331,333,334,335,337,342,343,345,346,347,349,350,351,353,354,355,357,358,359,361,362,363,365,366,367,369,370,371,373,374,375,377,378,379,381,390,391,393,394,395,397,398,399,401,402,403,414,415,417,418,419,421,422,423,425,426,427,429,430,431,433,434,435,437,438,439,442,443,450,451,453,454,455,458,459,462,463,465,466,467,470,471,478,479,481,482,483,486,487,494,495,497,506,507,509,510,511,514,515,518,519,521,530,531,540,541,543,544,546,547,549,550,552,553,555,556,558,559,561,562,564,565,567,568,570,571,573,574,576,577,579,580,582,583,585,586,588,589,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,638,640,642,644,646,648,650,652,654,656,658,660,662,664,666,668,670,672,674,676,677,678,681,682,683,684,685,686,687,688,689,692,693,694,695,696,697,698,703,704,705,706,707,708,718,719,720,721,722,723,730,731,732,733,734,738,739,740,741,742,745,746,747,748,749,752,753,754,755,756,757,758,759,760,765,766,767,771,772,773,774,777,778,783,784,788,792,793,795,797,799,800,806,808,809) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('checkp1.csv')

In [160]:
df.columns = df.columns.str.replace(r'\W+', '_', regex=True).str.replace(r'_+', '_', regex=True).str.strip('_').str.lower()

In [161]:
###-------------------------------------------------------deletion procedure-------------------------------------------------------###

df.drop(columns=['employee_count','current_org_industry'], errors='ignore', inplace=True)
df.drop(columns=[col for col in df.columns if 'company' in col and 'emp' in col and 'map' not in col],errors='ignore',inplace=True)
df.drop(columns=[col for col in df.columns if 'company' in col and 'indu' in col and 'map' not in col],errors='ignore',inplace=True)
df.drop(columns=[col for col in df.columns if 'digree' in col and 'map' not in col and 'dura' not in col],errors='ignore',inplace=True)
df.drop(columns=[col for col in df.columns if 'insti' in col and 'map' not in col],errors='ignore',inplace=True)
df.drop(columns=[col for col in df.columns if 'title' in col and 'map' not in col],errors='ignore',inplace=True)
#------------------------------------------------------------------------------------------------------
subli = ['_sub_' + str(i) for i in range(1, 19)]
delcollis = [col for col in df.columns if any(sub in col for sub in subli) and 'title' in col] # works on mapped titles as titles are removed already.
df.drop(columns=delcollis, errors='ignore', inplace=True)
#------------------------------------------------------------------------------------------------------
for k,v in df[[col for col in df.columns if 'title' in col]].iterrows(): # copy titles from sub to orig.
    cols = [col for col in v.index.to_list() if 'sub' in col]
    for i in cols:
        orj = i.replace('_sub_0','')
        if (v[i] != 'others') and (type(v[i]) != float):
            v[orj] = v[i]
            df.at[k, orj] = v[i]
df.drop(columns=[col for col in df.columns if 'title' in col and 'sub' in col],errors='ignore',inplace=True) # delete after copy.
#------------------------------------------------------------------------------------------------------
delcollis = [col for col in df.columns if any(sub in col for sub in subli) and 'org' in col] # --------------- delete org cols with sub_1 till 19.
df.drop(columns=delcollis, errors='ignore', inplace=True)
#------------------------------------------------------------------------------------------------------
for k,v in df[[col for col in df.columns if 'org' in col]].iterrows(): # copy titles from sub to orig.
    cols = [col for col in v.index.to_list() if 'sub' in col]
    for i in cols:
        orj = i.replace('_sub_0','')
        if type(v[i]) != float:
            v[orj] = v[i]
            df.at[k, orj] = v[i]
df.drop(columns=[col for col in df.columns if 'org' in col and 'sub' in col],errors='ignore',inplace=True)
#------------------------------------------------------------------------------------------------------
delcollis = [col for col in df.columns if any(sub in col for sub in subli) and 'job' in col and 'loc' in col]
df.drop(columns=delcollis, errors='ignore', inplace=True)
#------------------------------------------------------------------------------------------------------
for k,v in df[[col for col in df.columns if 'job' in col and 'loc' in col]].iterrows(): # copy titles from sub to orig.
    cols = [col for col in v.index.to_list() if 'sub' in col]
    for i in cols:
        orj = i.replace('_sub_0','')
        if type(v[i]) != float:
            v[orj] = v[i]
            df.at[k, orj] = v[i]
df.drop(columns=df[[col for col in df.columns if 'job' in col and 'loc' in col and 'sub' in col]],errors='ignore',inplace=True)
#------------------------------------------------------------------------------------------------------
for k,v in df[[col for col in df.columns if 'job' in col and 'dura' in col]].iterrows():
    sub_cols = [col for col in v.index.to_list() if 'sub' in col]
    for i in range(21):
        if not v[[col for col in sub_cols if 'job_'+str(i)+'_' in col and 'sub_0' in col]].isna().all():
            if np.nansum(v[[col for col in sub_cols if 'job_'+str(i)+'_' in col]].to_numpy())//12 > 15:
                v['job_'+str(i)+'_duration'] = v[[col for col in sub_cols if 'job_'+str(i)+'_' in col and 'sub_0' in col]]//12
            else:
                v['job_'+str(i)+'_duration'] = np.nansum(v[[col for col in sub_cols if 'job_'+str(i)+'_' in col]].to_numpy())//12
df.drop(columns=df[[col for col in df.columns if 'job' in col and 'dura' in col and 'sub' in col]],errors='ignore',inplace=True)
#------------------------------------------------------------------------------------------------------

In [162]:
###-------------------------------------------------------Nan Reduction-------------------------------------------------------###

for i in df[[col for col in df.columns if 'org' in col or 'title' in col or 'job' in col or 'comp' in col]]: 
    n = int(re.sub(r'[^0-9]', '', i))
    if n > 7:
        del df[i]
#------------------------------------------------------------------------------------------------------
for i in df[[col for col in df.columns if 'digr' in col or 'inst' in col]]: 
    n = int(re.sub(r'[^0-9]', '', i))
    if n > 3:
        del df[i]
#------------------------------------------------------------------------------------------------------
for i in df[[col for col in df.columns if 'skill' in col]]: 
    n = int(re.sub(r'[^0-9]', '', i))
    if n > 19:
        del df[i]

In [163]:
for k,v in df[[col for col in df.columns if 'org' in col]].iterrows():
    df.at[k,'switches'] = v.notna().sum()

In [164]:
{re.sub(r'[^A-Za-z_]', '', col) for col in df.columns}

{'digree__duration',
 'job__duration',
 'job__location',
 'location',
 'mapped_company__emp_count',
 'mapped_company__industry',
 'mapped_digree_',
 'mapped_institute_',
 'mapped_title_',
 'name',
 'org_',
 'skill_',
 'switches',
 'tier_mapping_institute_',
 'total_exp'}

In [165]:
# c = 0
# for k,v in df[job_duration_cols].iterrows():
#     if np.nansum(v.to_numpy())//12 > 50:
#         c+=1
#         print(c,k,df.loc[k,'name'])

In [166]:
job_duration_cols = [col for col in df.columns if 'job' in col and 'duration' in col]

In [167]:
# def duracata(tot):
#     if pd.isna(tot):
#         return 'NAN'
#     tot = tot/12
#     if tot < 1:
#         return "Less than 1 year"
#     elif tot <= 6:
#         return f"{int(tot)} years"
#     else:
#         return "Greater than 6 years"

# for cols in job_duration_cols:
#     df[cols]=df[cols].apply(duracata)

In [168]:
df = df.replace('NAN',np.nan)
df = df.replace('others',np.nan)

In [169]:
df['mapped_title_0'].unique()

array(['founder', 'founder and ceo', 'ceo', nan, 'cfo', 'president',
       'project manager', 'consultant', 'CTO', 'product manager',
       'software developer', 'account manager', 'head-hr',
       'business analyst', 'CMO'], dtype=object)

In [170]:
indset = set()
for col in df[[i for i in df.columns if 'indu' in i]].columns:
    indset.update(set(df[col].unique().tolist()))
indset

{'construction',
 'consumer',
 'education',
 'financial services',
 'fmcg',
 'government',
 'healthcare',
 'hospitality',
 'manufacturing',
 'media',
 nan,
 'planning and design',
 'professional services',
 'publishing',
 'real estate',
 'resources',
 'software',
 'sports',
 'telecommunications',
 'transport, supply chain and logistics'}

In [171]:
industry_mapping = {
    'construction': 'Construction',
    'consumer': 'Consumer',
    'education': 'Education',
    'financial services': 'Financial Services',
    'fmcg': 'FMCG',
    'government': 'Government',
    'healthcare': 'Healthcare',
    'hospitality': 'Hospitality',
    'manufacturing': 'Manufacturing',
    'media': 'Media',
    'non-profit': 'Non-Profit',
    'planning and design': 'Planning and Design',
    'professional services': 'Professional Services',
    'publishing': 'Publishing',
    'real estate': 'Real Estate',
    'resources': 'Resources',
    'software': 'Software',
    'sports': 'Sports',
    'telecommunications': 'Telecommunications',
    'transport, supply chain and logistics': 'Transport, Supply Chain, and Logistics'
}

for col in df[[i for i in df.columns if 'indu' in i]].columns:
    df[col].replace(industry_mapping, inplace=True)

In [172]:
df[[col for col in df.columns if 'tier' in col]] = df[[col for col in df.columns if 'tier' in col]].astype(str)

In [173]:
titledict.keys()

dict_keys(['founder', 'ceo', 'cfo', 'product manager', 'project manager', 'head-hr', 'founder and ceo', 'business analyst', 'consultant', 'account manager', 'president', 'software developer', 'CTO', 'CMO'])

In [174]:
# for degree in degree_dict.keys():
#     digdf = df[df[[col for col in df.columns if 'digr' in col and 'dura' not in col]].apply(lambda col: col.str.contains(degree, na=False)).any(axis=1)]
#     for tier in ['1.0','2.0','3.0','4.0']:
#         tierdf = digdf[digdf[[col for col in df.columns if 'tier' in col]].apply(lambda col: col.str.contains(tier, na=False)).any(axis=1)]
#         for title in titledict.keys():
#             temp = tierdf[tierdf[[col for col in df.columns if 'title' in col]].apply(lambda col: col.str.contains(title, na=False)).any(axis=1)]
#             if not temp.empty and temp.shape[0] > 20:
#                 temp.to_excel(f'combination mappings/{degree}_{tier}_{title}.xlsx',index=False)
#             else:
#                 file_path = 'combination mappings/less_or_nodata.txt'
#                 try:
#                     with open(file_path, 'a') as file:
#                         file.write(f'{degree}_{tier}_{title}\n')
#                 except FileNotFoundError:
#                     # File doesn't exist, create and write
#                     with open(file_path, 'w') as file:
#                         file.write(f'{degree}_{tier}_{title}\n')

In [175]:
titset = set()
for col in df[[i for i in df.columns if 'title' in i]].columns:
    titset.update(set(df[col].unique().tolist()))
titset

{'CMO',
 'CTO',
 'account manager',
 'business analyst',
 'ceo',
 'cfo',
 'consultant',
 'founder',
 'founder and ceo',
 'head-hr',
 nan,
 'president',
 'product manager',
 'project manager',
 'software developer'}

In [176]:
mapper = {
    'account manager': 'Account Manager',
    'business analyst': 'Business Analyst',
    'ceo':'CEO',
    'founder':'Founder',
    'cfo': 'CFO',
    'consultant': 'Consultant',
    'founder and ceo': 'Founder and CEO',
    'head-hr': 'Head of HR',
    'president': 'President',
    'product manager': 'Product Manager',
    'project manager': 'Project Manager',
    'software developer': 'Software Developer'
}
for col in df[[i for i in df.columns if 'title' in i]].columns:
    df[col].replace(mapper, inplace=True)

In [177]:
df[[i for i in df.columns if 'digree' in i and 'dura' not in i]].loc[8]

mapped_digree_0    BCOM
mapped_digree_1    BCOM
mapped_digree_2     NaN
mapped_digree_3     NaN
Name: 8, dtype: object

In [178]:
for inde,row in df[[i for i in df.columns if 'digree' in i and 'dura' not in i]].iterrows():
    l = row.tolist()
    for i in l:
        if not isinstance(i,float):    
            if l.count(i) > 1:
                # print(inde,l)
                mapind = 'mapped_digree_'+str(len(l) - l[::-1].index(i) - 1) 
                df.at[inde,mapind] = np.nan 
                break
for inde,row in df[[i for i in df.columns if 'digree' in i and 'dura' not in i]].iterrows():
    l = row.tolist()
    for i in l:
        if not isinstance(i,float):    
            if l.count(i) > 1:
                # print(inde,l)
                mapind = 'mapped_digree_'+str(len(l) - l[::-1].index(i) - 1) 
                df.at[inde,mapind] = np.nan 
                break

In [179]:
titlesorder = set()
for col in df[[i for i in df.columns if 'title' in i]]:
    titlesorder.update(set(df[col].unique().tolist()))
titlesorder = {digree for digree in titlesorder if pd.notna(digree)}
titlesorder

{'Account Manager',
 'Business Analyst',
 'CEO',
 'CFO',
 'CMO',
 'CTO',
 'Consultant',
 'Founder',
 'Founder and CEO',
 'Head of HR',
 'President',
 'Product Manager',
 'Project Manager',
 'Software Developer'}

In [180]:
title_cols = [col for col in df.columns if 'title' in col]
degree_cols = [col for col in df.columns if 'digree' in col and 'dura' not in col]
tier_cols = [col for col in df.columns if 'tier' in col]

In [181]:
digreeorder = set()
for col in df[degree_cols]:
    digreeorder.update(set(df[col].unique().tolist()))
digreeorder = {digree for digree in digreeorder if pd.notna(digree)}
digreeorder

{'BA',
 'BBA',
 'BCA',
 'BCOM',
 'BE',
 'BSC',
 'Bachelor of Laws',
 'CA',
 'MA',
 'MBA',
 'MCA',
 'MCOM',
 'MSC',
 'MTECH',
 'Master of Laws',
 'PGDBA'}

In [182]:
title_value_points = {
    'Account Manager': 2,
    'Business Analyst': 1,
    'CEO': 3,
    'CFO': 3,
    'CMO': 3,
    'CTO': 3,
    'Consultant': 1,
    'Founder': 3,
    'Founder and CEO': 3,
    'Head of HR': 2,
    'President': 3,
    'Product Manager': 2,
    'Project Manager': 2,
    'Software Developer': 1
}

In [183]:
df['rare_or_normal'] = 'normal'
count = 0
for k,v in df[[i for i in df.columns if 'title' in i]].iterrows():
    v = v.to_list()
    c = [title_value_points[i] for i in v if i in title_value_points]
    d = sorted(c,reverse=True)
    if c != d:
        df.at[k,'rare_or_normal'] = 'rare'
        # print(count+1,df.loc[k].to_list())
        count+=1

In [197]:
df = df[(df['total_exp'] > 7) & (df['switches'] > 2)]
df.reset_index(drop=True,inplace=True)

In [201]:
datacountdict = []
for title in titlesorder:
    subdic = {}
    subdic['title'] = title
    titlefildf = df[(df[title_cols].isin([title])).any(axis=1)]
    for degree in digreeorder:
        degreedf = titlefildf[titlefildf[degree_cols].isin([degree]).any(axis=1)]
        for tier in ['1','2','3','4']:
            subdic[degree+' '+tier] = degreedf[degreedf[tier_cols].isin([tier]).any(axis=1)].shape[0]
    datacountdict.append(subdic)

In [202]:
datacountdf = pd.DataFrame(datacountdict)

In [203]:
datacountdf.columns = ['\n'.join([' '.join(col.split(' ')[:-1]),''.join(col.split(' ')[-1:])]) for col in datacountdf.columns]

In [204]:
datacountdf.to_excel('data_counts.xlsx',index = False)

In [205]:
df.to_excel('Linkedin_cleaned_latest_mapped_cols.xlsx',index=False)

In [206]:
import mysql.connector
from sqlalchemy import create_engine
# Define your database connection parameters
host = "54.79.186.42"
user = "root"
password = "secondstorey"
database = "secondstorey"

# Establish a connection to the database
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

# Check if the connection was successful
if connection.is_connected():
    print("Connected to MySQL database")

cursor = connection.cursor()
cursor.execute("SHOW DATABASES")

databases = cursor.fetchall()
for db in databases:
    print(db[0])

Connected to MySQL database
azkroflyz
gmat
information_schema
mysql
performance_schema
salary_app
secondstorey
sys

In [207]:
engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")
df.to_sql(name='Linkedin_data', con=engine, if_exists='replace', index=False)

3300