In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('table 1 _ 2021 Latest data all companies.csv')
df2 = pd.read_csv('table 2 _ 2021 Latest data all companies.csv')

In [3]:
df = pd.merge(df1,df2[['NSE symbol','Company Name']], on='Company Name',how = 'left')
df.to_excel('2021 Latest data all companies.xlsx',index=False)

In [11]:
se1 = set(df2['Company Name'].unique())
se2 = set(df1['Company Name'].unique())
se1-se2

{'Den Networks Ltd.',
 'Dredging Corpn. Of India Ltd.',
 'H D F C Life Insurance Co. Ltd.',
 'I F C I Ltd.',
 'India Tourism Devp. Corpn. Ltd.',
 'M M T C Ltd.',
 'P C Jeweller Ltd.',
 'Rail Vikas Nigam Ltd.',
 'Spicejet Ltd.',
 'Tata Consultancy Services Ltd.'}

In [6]:
df.columns = df.columns.str.replace(r'\W+', '_', regex=True).str.replace(r'_+', '_', regex=True).str.strip('_').str.lower()

In [7]:
from sqlalchemy import create_engine
import mysql.connector

# Define your database connection parameters
host = "54.79.186.42"
user = "root"
password = "secondstorey"
database = "salary_app"

# Establish a connection to the database
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

# Check if the connection was successful
if connection.is_connected():
    print("Connected to MySQL database")

# Close the connection when done
# Define the SQLAlchemy connection string
engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")

# Create the table in MySQL (if_exists='replace' will create the table if it doesn't exist)
df.to_sql(name='companies_2021', con=engine, if_exists='replace', index=False)
engine.dispose()

Connected to MySQL database