In [1]:
import pandas as pd
import gdown
import re
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd
import os
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
import gc
import time
import pytz
import datetime
import logging
from tqdm import tqdm
import traceback
import sys

def driver_setup():# Assigning a Headless Firefox Driver
  options = webdriver.FirefoxOptions()
  options.binary_location = 'C:/Program Files/Mozilla Firefox/firefox.exe'  # Path to Chrome executable
  options.add_argument('E:/Programs/geckodriver.exe')
#   options.add_argument('--headless')
  options.add_argument('--no-sandbox')
  options.add_argument('--disable-dev-shm-usage')
  driver = webdriver.Firefox(options=options)
  return driver

def save_data_to_disk(data, filename):
    if os.path.isfile(filename):
        existing_df = pd.read_csv(filename)
        data = pd.concat([existing_df, data], ignore_index=True)
        os.remove(filename)
        data.to_csv(filename,index=False)
    else:
        data.to_csv(filename, mode='w', header=True, index=False)

In [22]:
df=pd.read_excel('Contact details of energy role TA heads.xlsx')

In [11]:
df1 = pd.DataFrame(columns=['nameindex','name','title','company','sector','unknowninfo'])

In [19]:
l = """
RP
Ram Prasad
Vice President - Talent Acquisition (Talent Evolving Workforce)Hyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
NN
Neha Naveen
Manager Talent Management (HR Business Partner)Gurgaon, Haryana, India
Deloitte
Management ConsultingGurgaon, Haryana, India
group459.37kmonetization_on$1000.00M-$undefined
	
SG
Sonali Ghosh
Sr Analyst - Talent AcquisitionIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
ME
Mallet Easow
Associate Vice President - Talent Business Advisor (Human Resources)Hyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
AS
Aakash Sikka
Human Resources Manager- Business PartnerMumbai Area, India
PwC India
Management ConsultingMumbai Area, India
group15.7kmonetization_on$1000.00M-$undefined
	
GK
Gayatri K
Talent Acquisition Specialist - HRIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
IG
Ishita Gupta
Manager - Talent Acquisition - Deloitte ConsultingHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
NS
Nathan S V
VP HRHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
SA
Swathi Anand
Assistant Manager - HR Global TalentHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
SR
Shabana Raja
Talent Acquisition - Assistant ManagerIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
JV
Janardhan Veggalam
Talent Acquisition Lead at Deloitte ConsultingHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
ÔøΩ
ùë∫ ùíÇ ùíé ùíñ ùíÜ ùíç ùëª ùíâ ùíê ùíé ùíÇ ùíî
Lead Talent Business Advisor (HR Leader) - Deloitte M&A and RestructuringIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
SB
Surendra Barthwal
Talent Acquisition - Lead Sourcing - National Office / New Business Innovations - USA RegionIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
RC
Rakshith C R
Assistant manager - talent acquisitionBengaluru, Karnataka, India
Deloitte
Management ConsultingBengaluru, Karnataka, India
group459.37kmonetization_on$1000.00M-$undefined
	
LP
Lyndonjohn Pinheiro
Vice President - HR Strategy and TransformationHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
IC
Ishu Chhabra
Manager, Performance Management -TalentGurgaon, Haryana, India
Deloitte
Management ConsultingGurgaon, Haryana, India
group459.37kmonetization_on$1000.00M-$undefined
	
DD
Deboshri Das
HR Business PartnerAhmedabad, Gujarat, India
Deloitte
Management ConsultingAhmedabad, Gujarat, India
group459.37kmonetization_on$1000.00M-$undefined
	
JP
Jyotsna Panwar
Senior Associate (HR Business Partner)Hyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
AV
Aditi Vats
Deputy Manager HR Business Partner (Risk Advisory)New Delhi Area, India
Deloitte
Management ConsultingNew Delhi Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
PD
Pratha Desai
Senior Executive - Talent AcquisitionBengaluru, Karnataka, India
Deloitte
Management ConsultingBengaluru, Karnataka, India
group459.37kmonetization_on$1000.00M-$undefined
	
SM
Spandhana Madisetty
Human Resources ExecutiveHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
DA
Dionne Almeida
Senior Executive HRBengaluru Area, India
Deloitte
Management ConsultingBengaluru Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
FZ
Faraz Zaman
Resource Management & Business Advisor - ManagerIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
BT
Brian Taylor
HR ManagerIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
ID
Ishan Dutt
Manager, USI Tax Talent Development Center of Excellence at DeloitteIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
AK
Aparna K Satish
Talent Acquisition -TaxMumbai Area, India
Deloitte
Management ConsultingMumbai Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
MD
Monica D
Manager - SFSF (HR Technology - Emerging Tech)Mumbai, Maharashtra, India
Deloitte
Management ConsultingMumbai, Maharashtra, India
group459.37kmonetization_on$1000.00M-$undefined
	
KT
Kashish Thakur
HR Talent AcquisitionBengaluru Area, India
Deloitte
Management ConsultingBengaluru Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
AD
Avantika D
Assistant Manager - HR RecruitingHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
RJ
Rishab Jain
Human Resources ConsultantBengaluru Area, India
Deloitte
Management ConsultingBengaluru Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
SG
Sonali U Ghosh
HR Business PartnerHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
AC
ADRIKA CHATTERJEE
Assistant Manager Human ResourcesIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
IG
Ichha Grover
Assistant Manager - Talent Acquisition Gurugram, Haryana, India
Deloitte
Management ConsultingGurugram, Haryana, India
group456.66kmonetization_on$1000.00M-$undefined
	
AM
Avni M
Head of HRMumbai, Maharashtra, India
Deloitte
Management ConsultingMumbai, Maharashtra, India
group459.37kmonetization_on$1000.00M-$undefined
	
AK
Abhinav Kandikattu
Senior Human Resources AnalystHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
SK
Soumya Kylas
Talent AcquisitionHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group456.66kmonetization_on$1000.00M-$undefined
	
SU
Shreya Upadhyay
Deputy Manager, Talent Management - Risk AdvisoryIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
TM
Trapti Maloo
Assistant Manager Human ResourcesIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
MS
Mehjabeen Shalam
Human Resources professional with expereince in Compensation, Talent Management, Strategic HRIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
RS
Rishabh Singhania
Talent Acquisition ManagerMumbai, Maharashtra, India
Deloitte
Management ConsultingMumbai, Maharashtra, India
group459.37kmonetization_on$1000.00M-$undefined
	
JM
Jagan Mohan
HR Generalist and Resource ManagerHyderabad Area, India
Deloitte
Management ConsultingHyderabad Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
AV
Abraham Velloor
Human Resources ManagerHyderabad Area, India
Deloitte
Management ConsultingHyderabad Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
AK
Amit Kapoor
Manager, Human Capital, Organization Transformation & TalentGurgaon, Haryana, India
Deloitte
Management ConsultingGurgaon, Haryana, India
group456.66kmonetization_on$1000.00M-$undefined
	
GK
Guneet Kaur
Manager Talent AcquisitionGurgaon, Haryana, India
Deloitte
Management ConsultingGurgaon, Haryana, India
group459.37kmonetization_on$1000.00M-$undefined
	
RR
R R Venkatasubramanian
Executive Manager-Human ResourcesIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
TD
Thresia Devgam
HR ExecutiveBengaluru, Karnataka, India
Deloitte
Management ConsultingBengaluru, Karnataka, India
group456.66kmonetization_on$1000.00M-$undefined
	
VV
Vijay Vardhan Reddy
Human Resources ManagerHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
AS
AMRITHA SHENOY
HR Business PartnerBengaluru, Karnataka, India
Deloitte
Management ConsultingBengaluru, Karnataka, India
group459.37kmonetization_on$1000.00M-$undefined
	
RP
Ritu Popli
Manager, Organization Transformation & Talent | Human CapitalNoida Area, India
Deloitte
Management ConsultingNoida Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
SV
Srihari Vadlamudi
Senior Analyst - HR GeneralistHyderabad Area, India
Deloitte
Management ConsultingHyderabad Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
AS
Aditi Sharma
Senior Manager Human ResourcesGurgaon, Haryana, India
Deloitte
Management ConsultingGurgaon, Haryana, India
group459.37kmonetization_on$1000.00M-$undefined
	
VL
Vijaya Laxmi Yeruva
Human Resources AnalystIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
VD
Vrunda Desai
Human ResourcesMumbai Area, India
Deloitte
Management ConsultingMumbai Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
KG
Keerthi G
Human Resources ManagerBengaluru, Karnataka, India
Deloitte
Management ConsultingBengaluru, Karnataka, India
group459.37kmonetization_on$1000.00M-$undefined
	
DG
Deblina Ganguly
Manager - Talent AcquisitionBengaluru, Karnataka, India
Deloitte
Management ConsultingBengaluru, Karnataka, India
group459.37kmonetization_on$1000.00M-$undefined
	
SP
Sai Prema Esspee 26 Yahoo Com
Assistant Manager - Talent AcquisitionHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
CJ
Chirag Jain
Manager (Immigration Business Advisor) | TalentHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group456.66kmonetization_on$1000.00M-$undefined
	
VJ
Vivek Joshi
Manager - Talent Development India
Deloitte
Management ConsultingIndia
group430.43kmonetization_on$1000.00M-$undefined
	
NB
Neeta Bhat
Assistant Manager - Talent Learning and Development Bengaluru, Karnataka, India
Deloitte
Management ConsultingBengaluru, Karnataka, India
group459.37kmonetization_on$1000.00M-$undefined
	
JS
Jimmy Solanki
Assistant Manager - Talent Acquisition India
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
PC
Priyanka Chakrabartty
Manager - Talent AcquisitionIndia
Deloitte
Management ConsultingIndia
group456.64kmonetization_on$1000.00M-$undefined
	
SM
Shalini Menon
Manager, Talent-Development : Career Growth and DevelopmentIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
LA
Louis Arokianathan
Associate Manager - Talent AcquisitionIndia
Deloitte
Management ConsultingIndia
group456.66kmonetization_on$1000.00M-$undefined
	
SD
Swati Sucharita Dash
HR GeneralistIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
PB
Prachi Bakshi
HR ConsultantGurgaon, Haryana, India
Deloitte
Management ConsultingGurgaon, Haryana, India
group459.37kmonetization_on$1000.00M-$undefined
	
KS
Kulmeet Singh Khurana
HR ConsultantNew Delhi, Delhi, India
Deloitte
Management ConsultingNew Delhi, Delhi, India
group459.37kmonetization_on$1000.00M-$undefined
	
SN
Sridhar N
Talent AcquisitionBengaluru, Karnataka, India
Deloitte
Management ConsultingBengaluru, Karnataka, India
group456.66kmonetization_on$1000.00M-$undefined
	
AP
Aditya Putrevu
HR Senior AnalystHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
RK
Rini K
Assistant Manager - Human ResourcesHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
CS
Chandra Shekar Math
Senior Lead Talent Acquisition SpecialistHyderabad, Telangana, India
ASAP Solutions Group, LLC
Management ConsultingHyderabad, Telangana, India
group216
	
AA
Anita Asirvadam
Manager, Talent Business AdvisorHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
YR
Yeshwant Ramani
National Head Payroll & BenefitsMumbai Area, India
Deloitte
Management ConsultingMumbai Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
SS
Shazia Salam
HR ExecutiveKolkata, West Bengal, India
Deloitte
Management ConsultingKolkata, West Bengal, India
group459.37kmonetization_on$1000.00M-$undefined
	
SK
Sai Kiran
HR ExecutiveHyderabad Area, India
Deloitte
Management ConsultingHyderabad Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
RC
RAHUL CHOUDHARY
Human Resources - Employee EngagementWest Delhi, Delhi, India
Deloitte
Management ConsultingWest Delhi, Delhi, India
group459.37kmonetization_on$1000.00M-$undefined
	
SK
Soujanya K
Talent AcquisitionPune, Maharashtra, India
Deloitte
Management ConsultingPune, Maharashtra, India
group459.37kmonetization_on$1000.00M-$undefined
	
FA
Fuad Akhter
Senior HR AnalystHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
KH
Kumar Hyderabad
Senior HR AnalystHyderabad Area, India
Deloitte
Management ConsultingHyderabad Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
AY
Anupama Yohan
HR ExecutiveHyderabad Area, India
Deloitte
Management ConsultingHyderabad Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
SK
Shahid Khan
Vice President - Human ResourcesMumbai Area, India
Deloitte
Management ConsultingMumbai Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
BR
Brahmananda Reddy
Human ResourcesHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
SS
Shilpa Shinde
Human ResourcesMumbai Area, India
Deloitte
Management ConsultingMumbai Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
US
Upneet Sandhu
HR ManagerHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
LK
Leena K Gopalakrishnan
Senior Analyst- Talent AcquisitionBengaluru, Karnataka, India
Deloitte
Management ConsultingBengaluru, Karnataka, India
group459.37kmonetization_on$1000.00M-$undefined
	
AL
Aditee Lal
Talent AcquisitionBengaluru, Karnataka, India
Deloitte
Management ConsultingBengaluru, Karnataka, India
group459.37kmonetization_on$1000.00M-$undefined
	
PB
Priyanka Babbar
Sr. Analyst- Talent Acquisition COEIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
MW
Marina Williams
Talent Acquisition ManagerIndia
Deloitte
Management ConsultingIndia
group456.64kmonetization_on$1000.00M-$undefined
	
MA
Meeta Agarwal
Human Resources ManagementIndia
Deloitte
Management ConsultingIndia
group459.37kmonetization_on$1000.00M-$undefined
	
AA
Asha Ayeetha
Talent AcquisitionGreater Hyderabad Area, India
Deloitte
Management ConsultingGreater Hyderabad Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
VK
Vijay Kudikala
SAP ABAP-HR ConsultantHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
NS
Neha Singh
Talent Acquisition SeniorHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
AM
ADITI M
HR L&D Senior AnalystHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
SA
Saroja Akula
HR ExecutiveHyderabad Area, India
ASAP Solutions Group, LLC
Management ConsultingHyderabad Area, India
group216
	
KP
Kiran Ponnam
Sr US It recruiterHyderabad, Telangana, India
ASAP Solutions Group, LLC
Management ConsultingHyderabad, Telangana, India
group216
	
AK
Anand Kumar
Sr IT Tehnical RecruiterHyderabad, Telangana, India
smart insights group, llc
Management ConsultingHyderabad, Telangana, India
group4
	
UO
US On Boarding
HRRangareddy, Andhra Pradesh, India
Deloitte
Management ConsultingRangareddy, Andhra Pradesh, India
group459.37kmonetization_on$1000.00M-$undefined
	
NS
Nandita Sulay
HR AnalystMumbai, Maharashtra, India
Deloitte
Management ConsultingMumbai, Maharashtra, India
group459.37kmonetization_on$1000.00M-$undefined
	
VA
Vijeyatha Anand
Associate Manager - Talent Resource ManagementBengaluru Area, India
Deloitte
Management ConsultingBengaluru Area, India
group459.37kmonetization_on$1000.00M-$undefined
	
SH
Sunny Hurria
Campus RecruiterHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined
	
MT
Manisha Tarai
Assistant Manager HRHyderabad, Telangana, India
Deloitte
Management ConsultingHyderabad, Telangana, India
group459.37kmonetization_on$1000.00M-$undefined"""

l = l.split('\n')
j = 0 
cols = ['nameindex', 'name', 'title', 'company', 'sector', 'unknowninfo']
row = -1
for i in l:
  i = i.strip()
  if  i == '':
    j = 0
    row +=1
    continue
  df1.loc[row, cols[j]] = i 
  j += 1

In [1043]:
df = pd.concat([df, df1], ignore_index=True)

In [1044]:
df.drop_duplicates(inplace=True)
df.reset_index(inplace=True,drop=True)

In [21]:
df.to_excel('Contact details of energy role TA heads.xlsx',index = False)

In [1047]:
df

,Unnamed: 0,Name,Name.1,Address,Date¬†of¬†Birth,Mobile,Landline,Email,Last Seen
0,NaN,Gagan Sahi Male,NaN,Sunset Views Boulevard TARNEIT VIC 3029,04-Aug-1986 (37 years),Last Called 0430540737,NaN,< Last > gagansahi@gmail.com,01-Jan-2019
1,NaN,Amelia Bowers Female,NaN,14 Kayla Avenue TARNEIT VIC 3029,06-Oct-1979 (43 years),Last Called 0431622923,NaN,< Last > amelia.bowers@hotmail.com,18-Jan-2021
2,NaN,Hayley Portelli Female,NaN,109 Penrose Promenade TARNEIT VIC 3029,30-May-1987 (36 years),NaN,NaN,NaN,18-Jan-2021
3,NaN,Michelle Cimino Female,NaN,50 Sunset Views Boulevard TARNEIT VIC 3029,19-Feb-1985 (38 years),Last Called 0401052850,NaN,< Last > michelle_cimino@hotmail.com,18-Jan-2021
4,NaN,J Singh,NaN,12 Welford Street TARNEIT VIC 3029,16-Jan-1983 (40 years),NaN,Last Called 0387424925,NaN,18-Jan-2021
...,...,...,...,...,...,...,...,...,...
382834,NaN,Maria Bolos Last called 15-Sep-2023 Female,NaN,331 Queen Street CONCORD WEST NSW 2138,08-Jun-1969 (54 years),Last Called 0424737683,Last Called 0297478744,< Last > manager@egbolos.com.au,15-Sep-2023
382835,NaN,Maria Bolos Last called 15-Sep-2023 Female,NaN,331 Queen Street CONCORD WEST NSW 2138,08-Jun-1969 (54 years),Last Called 0410605925,NaN,NaN,15-Sep-2023
382836,NaN,Nader Samuel Last called 12-Sep-2023 Male,NaN,54 Nirranda Street CONCORD WEST NSW 2138,01-Jan-1971 (52 years),Last Called 0419443182 Last called 12-Sep-2023,Last Called 0287658122,NaN,12-Sep-2023
382837,NaN,Judy Coulson Last called 26-Sep-2023 Female,NaN,360 Concord Road CONCORD WEST NSW 2138,11-Dec-1973 (49 years),Last Called 0406784355 Last called 26-Sep-2023,NaN,< Last > judycac@gmail.com,26-Sep-2023
382838,NaN,Dussadee Veeraphan Last called 26-Sep-2023,NaN,13 Stuart Street CONCORD WEST NSW 2138,14-Sep-1976 (47 years),Last Called 0422597449 Last called 26-Sep-2023,NaN,< Last > dop29@hotmail.com,26-Sep-2023