In [1]:
import pandas as pd

In [4]:
df = pd.read_parquet('E:/Programs/mazumdar_repo/Naukri_butisoup/latest_backup_mixed.parquet')

In [5]:
df.columns

Index(['id', 'job_title', 'company_name', 'experience', 'salary', 'location',
       'posted_on', 'extracted_on', 'skill1', 'skill2', 'skill3', 'skill4',
       'skill5', 'skill6', 'skill7', 'skill8', 'role', 'industry_type',
       'department', 'employment_type', 'role_category', 'mapped_average_sal',
       'mapped_job_title', 'mapped_job_title_1', 'combined_skills', 'salmin',
       'salmax', 'ori_experience', 'minexp', 'maxexp', 'title_id',
       'avg_experience'],
      dtype='object')

In [6]:
df.shape

(270851, 32)

In [7]:
len(df['industry_type'].unique())

254

In [8]:
df[df['role_category'] !='Nan'].shape

(232159, 32)

In [16]:
pd.DataFrame(counts).to_excel('industry_counts.xlsx',index=False)

In [18]:
len(df['role_category'].unique())

236

In [ ]:
df['mapped_job_title']

In [17]:
counts = []
for i in df[((df['mapped_job_title'] !='Nan') & (df['mapped_job_title'] !='unclassified'))]['mapped_job_title'].unique():
    s = df[df['mapped_job_title'] == i].shape[0]
    counts.append({'mapped_job_title':i,'count':s})

In [20]:
pd.DataFrame(counts).sort_values(by='count',ascending=False)#.to_excel('Mapped_job_title.xlsx',index=False)

              mapped_job_title  count
42      Mobile / App Developer  12269
6         Business Development   6418
3            Software Engineer   5359
14         Technical Architect   5172
8               Java Developer   4357
..                         ...    ...
69          Production Manager    203
67               Equity Dealer    125
79         Production Engineer    103
58              Medical Biller     75
80  Sales Support & Operations      5

[81 rows x 2 columns]