In [3]:
import pandas as pd
import os

In [8]:
df = pd.read_parquet('../Naukri_clean/Cleaned_Extract.parquet')

In [10]:
df.columns

Index(['job_title', 'company_name', 'experience', 'salary', 'location',
       'description', 'posted_on', 'extracted_on', 'link', 'skill1', 'skill2',
       'skill3', 'skill4', 'skill5', 'skill6', 'skill7', 'skill8', 'skill9',
       'role', 'industry_type', 'department', 'employment_type',
       'role_category', 'skill10', 'skill11', 'skill12', 'skill13', 'skill14',
       'skill15', 'skill16', 'skill17', 'skill18', 'skill19', 'skill20',
       'skill21', 'skill22', 'skill23', 'skill24', 'skill25', 'skill26',
       'skill27', 'skill28', 'skill29', 'skill30', 'skill31', 'skill32',
       'skill33', 'skill34', 'skill35', 'skill36', 'skill37', 'skill38',
       'skill39', 'skill40', 'skill41', 'salary_minimum', 'salary_maximum',
       'experience_minimum', 'experience_maximum', 'id', 'mapped_average_sal',
       'mapped_job_title', 'mapped_job_title_1', 'ori_experience', 'title_id',
       'avg_experience'],
      dtype='object')

In [25]:
df['role'] = df['role'].str.lower()

In [ ]:
roledf = df['role'].value_counts().reset_index()
roledf.columns = ['role', 'count']
roledf = roledf[(roledf['count'] > 500)]
roledf

In [35]:
df['job_title'] = df['job_title'].astype('str')
df[df['job_title'].str.contains('aws',case=False)]

,job_title,company_name,experience,salary,location,description,posted_on,extracted_on,link,skill1,...,salary_maximum,experience_minimum,experience_maximum,id,mapped_average_sal,mapped_job_title,mapped_job_title_1,ori_experience,title_id,avg_experience
381,Python with AWS,IBM,5 - 8 years,5-14 Lacs P.A.,,Python AWS-\nSenior data engineer with 5-8 yea...,29 days ago,2024-04-18,https://www.naukri.com/job-listings-python-wit...,Pyspark,...,1400000.0,5.0,8.0,382,NaN,None,None,None,NaN,NaN
851,Python with AWS,IBM,5 - 8 years,5-14 Lacs P.A.,,Python AWS-\nSenior data engineer with 5-8 yea...,29 days ago,2024-04-18,https://www.naukri.com/job-listings-python-wit...,Pyspark,...,1400000.0,5.0,8.0,852,NaN,None,None,None,NaN,NaN
913,Tcs Hiring - AWS Cloud Engineer(Windows)7-10YR...,Tata Consultancy Services (TCS),7 - 10 years,11-20 Lacs P.A.,,TCS Hiring - AWS Cloud Engineer(Windows)\nEXPE...,2 days ago,2024-04-18,https://www.naukri.com/job-listings-tcs-hiring...,Aws Cloud,...,2000000.0,7.0,10.0,914,NaN,None,None,None,NaN,NaN
996,Tcs is Hiring For -AWS senior Java Microservic...,Tata Consultancy Services (TCS),7 - 8 years,13-20 Lacs P.A.,,TCS IS HIRING FOR - AWS senior Java Microservi...,28 days ago,2024-04-18,https://www.naukri.com/job-listings-tcs-is-hir...,Terraform,...,2000000.0,7.0,8.0,997,NaN,None,None,None,NaN,NaN
1058,Sr. Engineer - Python AWS,Tech Mahindra,5 - 10 years,8-13 Lacs P.A.,,Need a team player who can work on software ch...,22 days ago,2024-04-19,https://www.naukri.com/job-listings-sr-enginee...,Linux,...,1300000.0,5.0,10.0,1059,NaN,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116782,AWS Application Development Lead,vichara technologies,8 - 13 Yrs,40-45 Lacs P.A.,"Bangalore,Delhi",None,2 days ago,2024-04-03,None,Amazon Web Services (AWS),...,4500000.0,8.0,13.0,116783,42.500,unclassified,Aws Application Development Lead,8 - 13 years,0.0,10.0
116925,Python/ GoLang Architect- AWS,client of ara resources,11-14,40-50 Lacs P.A.,Bangalore,None,7 days ago,2024-04-03,None,Amazon Web Services (AWS),...,5000000.0,9.0,14.0,116926,45.000,Technical Architect,Python Golang Architect Aws,9 - 14 years,75.0,11.0
117302,"Senior Lead Backend Developer - (NodeJS, AWS &...",food hub software solutions,11-14,35-50 Lacs P.A.,,None,29 days ago,2024-04-03,None,Typescript,...,5000000.0,9.0,14.0,117303,42.500,Java Developer,Senior Lead Backend Developer Nodejs Aws Types...,9 - 14 years,42.0,11.0
117634,Amazon web services/AWS Developer,infosys,2-5,2-7 Lacs P.A.,,None,28 days ago,2024-04-03,None,None,...,700000.0,2.0,5.0,117635,4.500,unclassified,Web Services Aws Developer,3 - 5 years,0.0,3.0
118537,Backend Developer For AWS Partner,visionfirst technologies,0-2,1.5-2.25 Lacs P.A.,Bangalore,None,4 days ago,2024-04-03,None,MySQL,...,225000.0,0.0,2.0,118538,1.875,Back End Developer,Backend Developer Aws Partner,0 - 1 years,9.0,1.0