In [1]:
import mysql.connector

In [2]:
host = "164.52.194.109"
user = "root"
password = "equipaypartners"
database = "paypulse"

# Establish connection to MySQL server
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)
cursor = connection.cursor()

create_table_query = """
CREATE TABLE IF NOT EXISTS industry (
    id INT PRIMARY KEY AUTO_INCREMENT,
    industry VARCHAR(255) NOT NULL
);
"""
cursor.execute(create_table_query)

create_table_query = """
CREATE TABLE IF NOT EXISTS department (
    id INT PRIMARY KEY AUTO_INCREMENT,
    department VARCHAR(255) NOT NULL
);
"""
cursor.execute(create_table_query)

create_table_query = """
CREATE TABLE IF NOT EXISTS role_category (
    id INT PRIMARY KEY AUTO_INCREMENT,
    role_category VARCHAR(255) NOT NULL
);
"""
cursor.execute(create_table_query)

create_table_query = """
CREATE TABLE IF NOT EXISTS role (
    id INT PRIMARY KEY AUTO_INCREMENT,
    role VARCHAR(255) NOT NULL
);
"""
cursor.execute(create_table_query)

create_table_query = """
CREATE TABLE IF NOT EXISTS location (
    id INT PRIMARY KEY AUTO_INCREMENT,
    location VARCHAR(255) NOT NULL
);
"""
cursor.execute(create_table_query)

create_table_query = """
CREATE TABLE IF NOT EXISTS skill (
    id INT PRIMARY KEY AUTO_INCREMENT,
    skill VARCHAR(255) NOT NULL
);
"""
cursor.execute(create_table_query)

connection.commit()
cursor.close()
connection.close()

In [3]:
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)
cursor = connection.cursor()

# Create table query
create_table_query = """
CREATE TABLE IF NOT EXISTS job_location (
    id INT PRIMARY KEY AUTO_INCREMENT,
    job_id INT,
    location_id INT,
    FOREIGN KEY (location_id) REFERENCES location(id)
);
"""
cursor.execute(create_table_query)

create_table_query = """
CREATE TABLE IF NOT EXISTS job_skill (
    id INT PRIMARY KEY AUTO_INCREMENT,
    job_id INT,
    skill_id INT,
    FOREIGN KEY (skill_id) REFERENCES skill(id)
);
"""
cursor.execute(create_table_query)

# FOREIGN KEY (job_id) REFERENCES job(id),
# FOREIGN KEY (job_id) REFERENCES job(id),
connection.commit()
cursor.close()
connection.close()

In [4]:
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)
cursor = connection.cursor()

# Create table query
create_table_query = """
CREATE TABLE IF NOT EXISTS job (
    id INT PRIMARY KEY AUTO_INCREMENT,
    job_title VARCHAR(255),
    company_name VARCHAR(255),
    experience VARCHAR(255),
    salary VARCHAR(255),
    industry_id INT,
    department_id INT,
    role_category_id INT,
    role_id INT,
    salary_minimum FLOAT,
    salary_maximum FLOAT,
    experience_minimum INT,
    experience_maximum INT,
    posted_on DATE,
    extracted_on DATE,
    FOREIGN KEY (industry_id) REFERENCES industry(id),
    FOREIGN KEY (department_id) REFERENCES department(id),
    FOREIGN KEY (role_category_id) REFERENCES role_category(id),
    FOREIGN KEY (role_id) REFERENCES role(id)
);
"""

cursor.execute(create_table_query)

connection.commit()
cursor.close()
connection.close()

In [5]:
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)
cursor = connection.cursor()

# Add foreign key constraint to job_location table
alter_table_query = """
ALTER TABLE job_location
ADD CONSTRAINT fk_job_id_location
FOREIGN KEY (job_id) REFERENCES job(id)
"""
cursor.execute(alter_table_query)

# Add foreign key constraint to job_skill table
alter_table_query = """
ALTER TABLE job_skill
ADD CONSTRAINT fk_job_id_skill
FOREIGN KEY (job_id) REFERENCES job(id)
"""
cursor.execute(alter_table_query)

# Commit changes and close connection
connection.commit()
cursor.close()
connection.close()